<!--<div class="page-top">
    <div class="container">
        <div class="col-md-2 col-sm-5 col-xs-8 sidebar-offcanvas">
            <div class="navbar-sub">
                <div class="item-title"><a href="/admin">Admin</a> / Speler</div>
                <ul id="nav-sub" class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active">
                        <a href="/admin/spelers">
                            <i class="fa fa-user"></i> Spelers
                        </a>
                    </li>
                </ul>
                <div class="item-title"><a href="/admin">Terug naar Admin</a></div>
                <div class="item-title"><a href="" scroll-to="top">Terug naar boven</a></div>
            </div>
        </div>
    </div>
</div>

<div class="menu-left-button" tooltip-placement="right" tooltip="linker menu openen">
    <button type="button" data-toggle="offcanvas">
        <span class="sr-only">Toggle linker menu</span>
        <i class="fa fa-chevron-right"></i>
        <i class="fa fa-chevron-left"></i>
        <br>
        <i class="fa fa-bars"></i>
    </button>
</div>-->

<div class="page-content">
    <div class="container-fluid">

        <div class="col-xs-12 content content-page content-page-full-spelers">

            <div class="col-xs-12 content-page-title">
                <h3 class="hidden-sm hidden-xs"><a href="/admin">Admin</a> / Spelers
                    <button class="btn btn-sm btn-info pull-right" ng-click="data.spelerSave()">Opslaan</button>
                </h3>
                <h4 class="hidden-lg hidden-md"><a href="/admin">Admin</a> / Spelers
                    <button class="btn btn-sm btn-info pull-right" ng-click="data.spelerSave()">Opslaan</button>
                </h4>
            </div>
            <div class="col-xs-12">
                <p>LET OP! Als je hier iets wijzigt en opslaat is het direct opgeslagen in de spelers database.<br>
                    Laden van de pagina neemt paar seconden in beslag.<br>
                    Opslaan na wijzigen data. Opslaan kan even duren na het klikken.<br>
                    Na uploaden foto wordt de foto automatisch opgeslagen en hoef je niet meer op opslaan te klikken.
                </p>
            </div>

            <div class="col-xs-12 no-padding">
                <div class="col-xs-12">
                    <h4>Speler toevoegen:</h4>
                    <div class="col-xs-3 no-padding">
                        <input class="form-control input-sm" ng-model="data.new.spelerNaam" placeholder="spelernaam">
                    </div>
                    <div class="col-xs-1">
                        <input class="form-control input-sm" ng-model="data.new.spelerID" placeholder="ID">
                    </div>
                    <div class="col-xs-2 no-padding">
                        <input class="form-control input-sm" ng-model="data.new.seizoen" placeholder="seizoen">
                    </div>
                    <div class="col-xs-3">
                        <input class="form-control input-sm" ng-model="data.new.clubNaam" placeholder="clubnaam">
                    </div>
                    <div class="col-xs-1 no-padding">
                        <input class="form-control input-sm" ng-model="data.new.clubID" placeholder="club ID">
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-info btn-xs" ng-click="data.spelerAdd()">opslaan</button>
                    </div>
                    <div class="col-xs-12">
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 no-padding">
                <div class="col-xs-12">
                    <h4>Lijst</h4>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-2 no-padding">
                        <strong>Speler</strong><input class="form-control" ng-model="search.spelerNaam" placeholder="zoeken">
                    </div>
                    <div class="col-xs-1 no-padding">
                        <strong>ID</strong><input class="form-control" ng-model="search.spelerID" placeholder="zoeken">
                    </div>
                    <div class="col-xs-1 no-padding">
                        <strong>Geb.datum</strong><input class="form-control" ng-model="search.spelerGeboortedatum" placeholder="zoeken">
                        <small>(August 2, 2015)</small>
                    </div>
                    <div class="col-xs-1 no-padding">
                        <strong>Type</strong><input class="form-control" ng-model="search.spelerType" placeholder="zoeken">
                    </div>
                    <div class="col-xs-1 no-padding">
                        <strong>Speelpositie</strong><input class="form-control" ng-model="search.spelerPositie" placeholder="zoeken">
                    </div>
                    <div class="col-xs-2 no-padding">
                        <strong>Seizoen</strong><input class="form-control" ng-model="search.seizoen" placeholder="zoeken">
                    </div>
                    <div class="col-xs-1 no-padding">
                        <strong>Club</strong><input class="form-control" ng-model="search.clubNaam" placeholder="zoeken">
                    </div>
                    <div class="col-xs-1 no-padding">
                        <strong>Club ID</strong><input class="form-control" ng-model="search.clubID" placeholder="zoeken">
                    </div>
                    <div class="col-xs-1">
                        <strong>Foto</strong>
                    </div>
                    <div class="hidden-xs col-sm-1">
                        <br>
                    </div>
                    <div class="col-xs-12">
                        <hr>
                    </div>
                </div>
                <div class="col-xs-12 spelers-table" ng-repeat="speler in filtered = (data.spelers | filter:search:strict)">
                    <div class="col-xs-2 no-padding">
                        <input class="form-control input-sm" ng-model="speler.spelerNaam" placeholder="spelernaam">
                    </div>
                    <div class="col-xs-1 no-padding">
                        <input class="form-control input-sm" ng-model="speler.spelerID" placeholder="ID">
                    </div>
                    <div class="col-xs-1 no-padding">
                        <input class="form-control input-sm" ng-model="speler.spelerGeboortedatum" placeholder="Geb.datum">
                    </div>
                    <div class="col-xs-1 no-padding">
                        <input class="form-control input-sm" ng-model="speler.spelerType" placeholder="Type">
                    </div>
                    <div class="col-xs-1 no-padding">
                        <input class="form-control input-sm" ng-model="speler.spelerPositie" placeholder="Speelpositie">
                    </div>
                    <div class="col-xs-2 no-padding">
                        <input class="form-control input-sm" ng-model="speler.seizoen" placeholder="seizoen">
                    </div>
                    <div class="col-xs-1 no-padding">
                        <input class="form-control input-sm" ng-model="speler.clubNaam" placeholder="clubnaam">
                    </div>
                    <div class="col-xs-1 no-padding">
                        <input class="form-control input-sm" ng-model="speler.clubID" placeholder="club ID">
                    </div>
                    <div class="col-sm-1">
                        <button ng-if="speler.spelerPhoto" class="btn btn-info btn-xs"><a ng-href="{{ speler.spelerPhoto }}" target="_blank"><i class="fa fa-external-link"></i></a></button>
                        <button class="btn btn-default btn-xs" ngf-select ngf-change="data.uploadPlayers($files, data.spelers.indexOf(speler))" ngf-accept="'image/*'" ngf-max-size="10485760"><i class="fa fa-plus"></i></button>
                    </div>
                    <div class="hidden-xs col-sm-1">
                        <button class="btn btn-danger btn-xs" ng-click="data.openModalDel('sm', $index)"><i class="fa fa-close"></i></button>
                    </div>
                </div>
            </div>

            <script type="text/ng-template" id="modalDel.html">
                <div class="modal-header">
                    <h3 class="modal-title">Waarschuwing!</h3>
                </div>
                <div class="modal-body">
                    U staat op het punt deze gegevens van deze speler permanent te verwijderen. Weet u zeker dat u dit item wilt verwijderen?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" ng-click="ok()">Verwijder</button>
                    <button class="btn btn-warning" ng-click="cancel()">Annuleer</button>
                </div>
            </script>
        </div>

    </div>
</div>