<div class="page-top">
    <div class="container">
        <div class="col-md-2 hidden-xs hidden-sm">
            <div class="col-md-2 navbar-sub">
                <div class="item-title"><a href="/admin">Admin</a> / Wedstrijden</div>
                <ul id="nav-sub" class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active">
                        <a href="/admin/matches">
                            <i class="fa fa-user"></i> Wedstrijden
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="/admin/matches/edit/add">
                            <i class="fa fa-user-plus"></i> Wedstrijd toevoegen
                        </a>
                    </li>
                </ul>
                <div class="item-title"><a href="/admin">Terug naar Admin</a></div>
                <div class="item-title"><a href="" scroll-to="top">Terug naar boven</a></div>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">

        <div class="col-xs-12 col-md-10 col-md-offset-2 content content-page">

            <div class="col-xs-12 content-page-title">
                <h3>Wedstrijden</h3>
                <h4 class="hidden-md hidden-lg"><a href="/admin">Admin</a> / Wedstrijden</h4>
            </div>
            <div class="col-xs-12 hidden-md hidden-lg">
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-primary" href="/admin/matches/edit/add">Wedstrijd toevoegen</button>
                </div>
            </div>
            <div class="col-xs-12">
                <p>Dit is een lijst met alle wedstrijden waarvan data beschikbaar is. Bij het toevoegen van de data van een wedstrijd wordt hier automatisch een nieuwe wedstrijd
                aangemaakt. Als er geen algemene data van een wedstrijd is en er wel extra data bestaat dan kan hier een nieuwe wedstrijd worden
                toegevoegd, deze wedstrijd heeft dan geen matchID.</p>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-12">
                    <h4>Lijst</h4>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-6 col-sm-3">
                        <strong>Seizoen</strong><input class="form-control" ng-model="search.seizoen" placeholder="zoeken">
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <strong>Wedstrijd</strong><input class="form-control" ng-model="search.$" placeholder="zoeken">
                    </div>
                    <div class="hidden-xs col-sm-3">
                        <strong>Datum</strong><input class="form-control" ng-model="search.match_info.datum" placeholder="zoeken">
                    </div>
                    <div class="hidden-xs col-sm-3">
                        <br>
                    </div>
                </div>
                <div class="col-xs-12" ng-repeat="match in data.matches | filter:search:strict">
                    <div class="col-xs-6 col-sm-3">
                        {{ match.seizoen }}
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <a ng-href="/admin/matches/edit/{{ match.matchID }}">{{ match.match_info.wedstrijd }}</a>
                    </div>
                    <div class="hidden-xs col-sm-3">
                        {{ match.match_info.datum }}
                    </div>
                    <div class="hidden-xs col-md-3">
                        <a type="button" class="btn btn-primary btn-xs" ng-href="/admin/matches/edit/{{ match.matchID }}">wijzig</a> <button class="btn btn-danger btn-xs" ng-click="data.openModalDel('sm', $index)">verwijder</button>
                    </div>
                </div>
            </div>

            <script type="text/ng-template" id="modalDel.html">
                <div class="modal-header">
                    <h3 class="modal-title">Waarschuwing!</h3>
                </div>
                <div class="modal-body">
                    U staat op het punt deze gegevens van deze wedstrijd permanent te verwijderen. Weet u zeker dat u dit item wilt verwijderen?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" ng-click="ok()">Verwijder</button>
                    <button class="btn btn-warning" ng-click="cancel()">Annuleer</button>
                </div>
            </script>
        </div>

    </div>
</div>