<div class="page-top">
    <div class="container">
        <div class="col-md-2">
            <div class="col-md-2 navbar-sub">
                <div class="item-title"><a href="/beheer">Beheer</a> / Gebruikers</div>
                <ul id="nav-sub" class="nav nav-pills nav-stacked">
                    <li role="presentation">
                        <a href="/beheer/users">
                            <i class="fa fa-user"></i> Gebruikers
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="/beheer/users/edit/add">
                            <i class="fa fa-user-plus"></i> Gebruiker toevoegen
                        </a>
                    </li>
                </ul>
                <div class="item-title"><a href="/logout">Uitloggen</a></div>
                <div class="item-title"><a href="" scroll-to="top">Terug naar boven</a></div>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">

        <div class="col-xs-12 col-md-10 col-md-offset-2 content content-page">

            <div class="col-xs-12 content-page-title">
                <h3>Gebruikersbeheer</h3>
            </div>
            <div class="col-xs-12">

            </div>

            <div class="col-xs-12">
                <div class="col-lg-12">
                    <h4>Gebruiker wijzigen/toevoegen</h4>
                </div>

                <div class="col-lg-12">
                    <br>
                </div>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Voornaam</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" placeholder="Voornaam">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName2" class="col-sm-2 control-label">Tussenvgsl</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName3" class="col-sm-2 control-label">Achternaam</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName3" placeholder="Achternaam">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Wachtwoord</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Wachtwoord">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputClub" class="col-sm-2 control-label">Club</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="inputClub">
                                <option>FC Eindhoven</option>
                                <option>FC Oss</option>

                                <option>Soccer Performance Centre (Beheer)</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputTeam" class="col-sm-2 control-label">Team</label>
                        <div class="col-sm-10">
                            <select multiple class="form-control" id="inputTeam">
                                <option>1e elftal</option>
                                <option>Jeugd elftal</option>
                                <option>enz.</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputRole" class="col-sm-2 control-label">Rechten (toegang)</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="inputRole">
                                <option>Technische staff</option>
                                <option>Externe staff</option>
                                <option>Speler</option>
                                <option>Fan</option>
                                <option>Admin</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputpersonID" class="col-sm-2 control-label">Speler ID (data)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputpersonID" placeholder="Speler ID">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <div class="checkbox">
                                <label><input type="checkbox"> superadmin</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Opslaan</button>
                        </div>
                    </div>
                </form>

            </div>

        </div>

    </div>
</div>