<div class="container">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 item-content no-padding">
            <!--<img src="images/SPC_logo.png" height="90px" title="Soccer Performance Centre" style="margin-top: 5px; margin-right: 5px;">-->
            <div class="item-title"><a href="/contact">Soccer<br>Performance<br>Centre</a>
                <br><small>Copyright &#9400; 2015</a></small>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-5 item-content no-padding">
            <!--<div class="item-title">Ontwikkeld door</div>-->
            <div class="item-title">Ontwikkeld met</div>
            <a href="https://www.tilburguniversity.edu/nl/webwijs/show/r.t.a.j.leenders_nl/" target="_blank"><img src="images/logo_tilburg_university.jpg" height="40px" title="University of Tilburg"></a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
        <div class="item-title">Data powered by</div>
        <!--<div class="item-content">Ortec TSS</div>-->
        <div class="col-xs-12 text-right no-padding item-content">
            <h4><small><a href="http://ortecsports.com/" target="_blank" style="color: inherit;">Ortec TSS </a><br><a href="/disclaimer">disclaimer</a></small></h4>
        </div>
    </div>
</div>