<nav id="navbar-main" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="col-lg-12">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ng-if="currentUser.role !== 'admin' && currentClub.name" class="navbar-brand" href="/club">
                    <img alt="{{ currentClub.name }}" ng-src="images/logo_clubs/{{ currentClub.name }}.jpg">
                    <span class="hidden-sm hidden-xs">{{ currentClub.name }}</span>
                </a>
                <a ng-if="currentUser.role !== 'admin' && !currentClub.name" class="navbar-brand" href="/">
                    <img src="images/SPC_logo_xs.png">
                    <span class="hidden-sm hidden-xs">Soccer Performance Centre</span>
                    <span class="hidden-lg hidden-md">SPC</span>
                </a>
                <a ng-if="currentUser.role == 'admin'" class="navbar-brand" href="/">
                    <img src="images/SPC_logo_xs.png">
                    <span class="hidden-sm hidden-xs">Soccer Performance Centre</span>
                    <span class="hidden-lg hidden-md">SPC</span>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/club">Club</a></li>
                    <li><a href="/spelers">Spelers</a></li>
                    <li><a href="/analyse">Analyse</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">SPC home</a></li>
                    <li ng-if="currentUser.role !== 'admin'" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img ng-if="currentUser.speler_id" ng-src="media/players/{{ currentUser.speler_id }}.jpg" on-error-src="images/blank-avatar-square.png">
                            <img ng-if="!currentUser.speler_id" src="images/blank-avatar-square.png">
                            {{ currentUser.first_name }} {{ currentUser.middle_name }} {{ currentUser.last_name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/user">Persoonlijke pagina</a></li>
                            <li ng-controller="mainapp.memberAuth.AuthController as data"><a ng-click="data.logOut()">Uitloggen</a></li>
                        </ul>
                    </li>
                    <li ng-if="currentUser.role == 'admin'"><a href="/admin">Admin</a></li>
                    <li ng-if="currentUser.role == 'admin'" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img ng-if="currentUser.speler_id" ng-src="media/players/{{ currentUser.speler_id }}.jpg" on-error-src="images/blank-avatar-square.png">
                            <img ng-if="!currentUser.speler_id" src="images/blank-avatar-square.png">
                            {{ currentUser.first_name }} {{ currentUser.middle_name }} {{ currentUser.last_name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/user">Persoonlijke pagina</a></li>
                            <li ng-controller="mainapp.memberAuth.AuthController as data"><a ng-click="data.logOut()">Uitloggen</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>