<nav id="navbar-main" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="col-lg-12">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        tooltip-placement="left" tooltip="hoofdmenu openen">
                    <span class="sr-only">Toggle menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="images/SPC_logo_xs.png">
                    <span class="hidden-sm hidden-xs">Soccer Performance Centre</span>
                    <span class="hidden-lg hidden-md">SPC</span>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/over">Over ons</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-hide="isLogged()"><a href="/login">Inloggen</a></li>
                    <li ng-if="isLogged() && currentUser.role !== 'admin'"><a href="/club">Club</a></li>
                    <li ng-if="isLogged() && currentUser.role !== 'admin' && currentUser.role == 'club-beheer'"><a href="/user">Beheer</a></li>
                    <li ng-if="isLogged() && currentUser.role !== 'admin'" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img ng-if="currentUser.speler_id" ng-src="media/players/{{ currentUser.speler_id }}.jpg" on-error-src="images/blank-avatar.png">
                            <img ng-if="!currentUser.speler_id" src="images/blank-avatar.png">
                            {{ currentUser.first_name }} {{ currentUser.middle_name }} {{ currentUser.last_name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/user">Persoonlijke pagina</a></li>
                            <li ng-controller="mainapp.memberAuth.AuthController as data"><a ng-click="data.logOut()">Uitloggen</a></li>
                        </ul>
                    </li>
                    <li ng-if="isLogged() && currentUser.role == 'admin'"><a href="/admin">Admin</a></li>
                    <li ng-if="isLogged() && currentUser.role == 'admin'" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img ng-if="currentUser.speler_id" ng-src="media/players/{{ currentUser.speler_id }}.jpg" on-error-src="images/blank-avatar.png">
                            <img ng-if="!currentUser.speler_id" src="images/blank-avatar.png">
                            {{ currentUser.first_name }} {{ currentUser.middle_name }} {{ currentUser.last_name }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/user">Persoonlijke pagina</a></li>
                            <li ng-controller="mainapp.memberAuth.AuthController as data"><a ng-click="data.logOut()">Uitloggen</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>