<div class="page-top">
    <div class="container">
        <div class="col-md-2">
            <div class="col-md-2 navbar-sub">
                <div class="item-title">Clubbeheer</div>
                <ul id="nav-sub" class="nav nav-pills nav-stacked" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#users" aria-controls="users" role="tab" data-toggle="tab" scroll-to="top">
                            <i class="fa fa-user"></i> Gebruikers
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#teams" aria-controls="teams" role="tab" data-toggle="tab" scroll-to="top">
                            <i class="fa fa-user-group"></i> Teams
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#add" aria-controls="add" role="tab" data-toggle="tab" scroll-to="top">
                            <i class="fa fa-user-plus"></i> Gebruiker toevoegen
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#addteam" aria-controls="addteam" role="tab" data-toggle="tab" scroll-to="top">
                            <i class="fa fa-user-plus"></i> Team toevoegen
                        </a>
                    </li>
                </ul>
                <div class="item-title"><a href="/logout">Uitloggen</a></div>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">

        <div class="col-xs-12 col-md-10 col-md-offset-2 content content-page tab-content">

            <div class="col-xs-12 content-page-title">
                <h3>Gebruikersbeheer</h3>
            </div>
            <div class="col-xs-12">

            </div>

            <div class="col-xs-12 tab-pane fade in active" role="tabpanel" id="users">
                <div class="col-lg-12">
                    <h4>Gebruikerslijst</h4>
                </div>
                <div class="col-lg-12">
                    <div class="col-md-3">
                        <strong>Naam</strong>
                    </div>
                    <div class="col-md-3">
                        <strong>ID</strong>
                    </div>
                    <div class="col-md-3">
                        <strong>Gebruikersnaam</strong>
                    </div>
                    <div class="col-md-3">
                        <br>
                    </div>
                    <div class="col-md-3">
                        Voornaam Achternaam
                    </div>
                    <div class="col-md-3">
                        1122
                    </div>
                    <div class="col-md-3">
                        voornaam
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-xs">wijzig</button> <button class="btn btn-primary btn-xs">verwijder</button>
                    </div>
                    <div class="col-md-3">
                        Voornaam Achternaam
                    </div>
                    <div class="col-md-3">
                        1122
                    </div>
                    <div class="col-md-3">
                        voornaam
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-xs">wijzig</button> <button class="btn btn-primary btn-xs">verwijder</button>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 tab-pane fade" role="tabpanel" id="teams">
                <div class="col-lg-12">
                    <h4>Teamslijst</h4>
                </div>
                <div class="col-lg-12">
                    <div class="col-md-3">
                        <strong>Naam</strong>
                    </div>
                    <div class="col-md-3">
                        <strong>ID</strong>
                    </div>
                    <div class="col-md-3">
                        <strong>Gebruikersnaam</strong>
                    </div>
                    <div class="col-md-3">
                        <br>
                    </div>
                    <div class="col-md-3">
                        Voornaam Achternaam
                    </div>
                    <div class="col-md-3">
                        1122
                    </div>
                    <div class="col-md-3">
                        voornaam
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-xs">wijzig</button> <button class="btn btn-primary btn-xs">verwijder</button>
                    </div>
                    <div class="col-md-3">
                        Voornaam Achternaam
                    </div>
                    <div class="col-md-3">
                        1122
                    </div>
                    <div class="col-md-3">
                        voornaam
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-xs">wijzig</button> <button class="btn btn-primary btn-xs">verwijder</button>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 tab-pane fade" role="tabpanel" id="add">
                <div class="col-lg-12">
                    <h4>Gebruiker toevoegen</h4>
                </div>

                <div class="col-lg-12">
                    <br>
                </div>
                <div class="col-md-4">
                    Voornaam:
                </div>
                <div class="col-md-8">
                    ..
                </div>
                <div class="col-md-4">
                    Achternaam:
                </div>
                <div class="col-md-8">
                    ..
                </div>
                <div class="col-md-4">
                    Gebruikersnaam:
                </div>
                <div class="col-md-8">
                    ..
                </div>
                <div class="col-md-4">
                    Wachtwoord:
                </div>
                <div class="col-md-8">
                    ..
                </div>

                <div class="col-lg-12">
                    <br>
                    <button class="btn btn-primary btn-sm">Opslaan</button>
                </div>
            </div>

            <div class="col-xs-12 tab-pane fade" role="tabpanel" id="addteam">
                <div class="col-lg-12">
                    <h4>Team toevoegen</h4>
                </div>

                <div class="col-lg-12">
                    <br>
                </div>
                <div class="col-md-4">
                    Voornaam:
                </div>
                <div class="col-md-8">
                    ..
                </div>
                <div class="col-md-4">
                    Achternaam:
                </div>
                <div class="col-md-8">
                    ..
                </div>
                <div class="col-md-4">
                    Gebruikersnaam:
                </div>
                <div class="col-md-8">
                    ..
                </div>
                <div class="col-md-4">
                    Wachtwoord:
                </div>
                <div class="col-md-8">
                    ..
                </div>

                <div class="col-lg-12">
                    <br>
                    <button class="btn btn-primary btn-sm">Opslaan</button>
                </div>
            </div>

        </div>

    </div>
</div>