<div class="page-top">
    <div class="container">
        <div class="col-md-2 hidden-xs hidden-sm">
            <div class="col-md-2 navbar-sub">
                <div class="item-title"><a href="/analyse">Analyse</a> / Spelers</div>
                <ul id="nav-sub" class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="/wedstrijd" scroll-to="top"><i class="fa fa-soccer-ball-o"></i> Wedstrijd</a></li>
                    <li role="presentation" class="active"><a href="/spelers" scroll-to="top"><i class="fa fa-user"></i> Spelers</a></li>
                    <!--<li role="presentation"><a href="/extra" scroll-to="top"><i class="fa fa-plus"></i> Extra analyse</a></li>-->
                    <!--<li role="presentation"><a href="/training" scroll-to="top"><i class="fa fa-steam"></i> Training</a></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">

        <div class="col-md-10 col-md-offset-2 content">

            <div class="col-xs-12 content-title-top text-center">
                <h3>Spelers <small>{{ data.club_name }} <small>{{ data.team_name }}</small></small></h3>
                <h4 class="hidden-md hidden-lg"><a href="/analyse">Analyse</a> / Spelers</h4>
            </div>
            <div class="col-xs-12 text-center">
                <p>Uitleg...</p>
                <p>Kies een speler uit om naar de statistieken pagina van deze speler te gaan.</p>
                <hr>
            </div>
            <div class="col-xs-12 text-center">
                <p ng-repeat="speler in data.player_data"><a ng-href="/spelers/{{ data.team_slug }}/{{ speler.playerID }}">
                    {{ speler.spelerNaam }} {{ speler.spelerRugnummer }}
                </a></p>
            </div>

            <div class="col-xs-12 content-title-bottom text-center">
                <a href="" scroll-to="top">Terug naar boven <i class="fa fa-arrow-up"></i></a>
            </div>
            <br class="clear">

        </div>

    </div>
</div>