<div class="page-top">
    <div class="container">
        <div class="col-md-2 hidden-xs hidden-sm">
            <div class="col-md-2 navbar-sub">
                <div class="item-title"><a href="/analyse">Analyse</a> / Spelers</div>
                <ul id="nav-sub" class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="/wedstrijd" scroll-to="top"><i class="fa fa-soccer-ball-o"></i> Wedstrijd</a></li>
                    <li role="presentation" class="active"><a href="/spelers" scroll-to="top"><i class="fa fa-user"></i> Spelers</a></li>
                    <!--<li role="presentation"><a href="/extra" scroll-to="top"><i class="fa fa-plus"></i> Extra analyse</a></li>-->
                    <!--<li role="presentation"><a href="/training" scroll-to="top"><i class="fa fa-steam"></i> Training</a></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">

        <div class="col-md-10 col-md-offset-2 content">

            <div class="col-xs-12 content-title-top text-center">
                <h3>Wedstrijd</h3>
                <h4 class="hidden-md hidden-lg"><a href="/analyse">Analyse</a> / Spelers</h4>
            </div>
            <div class="col-xs-12 text-center">
                <p>Uitleg...</p>
                <hr>
            </div>
            <div class="col-xs-12 text-center">
                <p>Kies speler</p>
                <br>
                Tom Muyters 1<br>
                Timothy Durwael 2<br>
                Norichio Nieveld 3<br>
                Maxime Gunst 5<br>
                Jens Van Son 6<br>
                <a href="/spelers/spelerID">Roald Van Hout 7</a><br>
                Fries Deschilder 14<br>
                Diego Karg 15<br>
                Branco Van Den Boomen 17<br>
                Sebastiaan De Wilde 22<br>
                Joey Sleegers 26<br>
                Jason Bourdouxhe 8<br>
                Torino Hunte 11<br>
                Chiel Kramer 12<br>
                Miguel Angelo Perez Lopes 19<br>
                Tibeau Swinnen 21<br>
                Lima 23<br>
                Thomas Horsten 25
            </div>

            <div class="col-xs-12 content-title-bottom text-center">
                <a href="" scroll-to="top">Terug naar boven <i class="fa fa-arrow-up"></i></a>
            </div>
            <br class="clear">

        </div>

    </div>
</div>