<div class="container">

    <div class="col-lg-12 content content-page content-page-full">

        <div class="col-xs-12 content-players-title">
            <div class="col-xs-12 col-sm-4 no-padding">
                <h3 class="hidden-sm hidden-xs">Speler details</h3>
                <h4 class="hidden-lg hidden-md">Speler details</h4>
            </div>
            <div class="col-xs-12 col-sm-4 season">
                <select ng-model="data.season_index" class="form-control input-sm"
                        ng-change="data.seasonInitFunc()"
                        ng-options="player.season as player.season for player in data.player_stats.matches">
                </select>
            </div>
        </div>
        <div class="col-xs-12 content-players-name">
            <div class="col-xs-12">
                <img ng-src="/images/logo_clubs/{{ data.club_name }}.jpg"><h3><a ng-href="/spelers/{{ data.team_slug }}">{{ data.club_name }}</a></h3>
            </div>
        </div>
        <div class="col-xs-12 content-players-select">
            <div class="round">ronde {{ data.match.ronde }}</div>
            <statssliderclub model="round"></statssliderclub>
        </div>
        <div class="col-xs-12 col-sm-2 content-players-left">
            <span class="tag" ng-if="data.player_stats.spelerType == 'keeper'"><strong>Keeper</strong></span>
            <div class="col-xs-12">
                <img ng-if="!data.player_stats.spelerPhoto" src="images/blank-avatar.png">
                <img ng-if="data.player_stats.spelerPhoto" ng-src="{{ data.player_stats.spelerPhoto }}" on-error-src="images/blank-avatar.png">
            </div>
            <div class="col-xs-12"><br><strong>{{ data.player_stats.spelerNaam }}</strong></div>
            <div class="col-xs-12"><br><strong>{{ data.club_name }}</strong></div>
            <div class="col-xs-12"><br><img ng-src="images/shirt-blue.png"><span class="text-center rugnummer">{{ data.player_stats.spelerRugnummer }}</span></div>
            <div class="col-xs-12 text-center"><a ng-href="/spelers/{{ data.team_slug }}" class="orange"><strong><i class="fa fa-refresh"></i> andere speler</strong></a></div>

            <div class="col-xs-12 text-center player-vs"><h4>VS</h4></div>

            <div class="col-xs-12 grey">
                <span ng-if="data.vs == data.playerID"><img ng-if="!data.player_stats.spelerPhoto" src="images/blank-avatar.png"><img ng-if="data.player_stats.spelerPhoto" ng-src="{{ data.player_stats.spelerPhoto }}" on-error-src="images/blank-avatar.png"></span>
                <span ng-if="data.vs !== data.playerID"><img ng-if="!data.player_stats_vs.spelerPhoto" src="images/blank-avatar.png"><img ng-if="data.player_stats_vs.spelerPhoto" ng-src="{{ data.player_stats_vs.spelerPhoto }}" on-error-src="images/blank-avatar.png"></span>
            </div>
            <div class="col-xs-12 grey">
                <br>
                <span ng-if="data.vs == data.playerID"><strong>{{ data.player_stats.spelerNaam }}<br>{{ data.vs_naam }}</strong></span>
                <span ng-if="data.vs !== data.playerID"><strong>{{ data.player_stats_vs.spelerNaam }}<br>{{ data.vs_info }}</strong></span>
            </div>
            <div class="col-xs-12 grey"><br><strong>{{ data.club_name }}</strong></div>
            <div class="col-xs-12"><br>
                <img ng-src="images/shirt-grey.png">
                <span class="text-center rugnummer">
                    <span ng-if="data.vs == data.playerID">{{ data.player_stats.spelerRugnummer }}</span>
                    <span ng-if="data.vs !== data.playerID">{{ data.player_stats_vs.spelerRugnummer }}</span>
                </span>
            </div>

            <div class="col-xs-12 orange">
                <br><h4>Kies VS speler</h4>
                <select ng-model="data.vs" class="form-control input-md input-vs"
                        ng-change="data.vsInitFunc()"
                        ng-options="player.playerID as player.spelerNaam for player in data.player_data | orderBy:'spelerNaam'">
                    <!--<option>.. kies speler ..</option>-->
                </select>
                <h4>Seizoen / ronde</h4>
                <select ng-model="data.vs_info" class="form-control input-md input-vs"
                        ng-change="data.vsInitFunc()">
                    <option>Deze ronde</option>
                    <option>Gemiddelde seizoen</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-10" id="content-players-main">
        <div class="col-xs-12 col-sm-10 content-players">
            <div class="col-xs-12 no-padding"><img src="/images/doelpogingen.png" width="5%"><strong> {{ data.matches_played }} wedstrijden gespeeld <span ng-if="data.player_stats.spelerType == 'keeper'">en {{ data.clean_sheets }} clean sheet<span ng-if="data.clean_sheets.toFixed(0) != 1">s</span></span></strong></div>

            <div class="col-xs-12 no-padding"><br><h4>Algemeen</h4></div>

            <div ng-if="data.player_stats.spelerType !== 'keeper'">

            <div class="col-xs-10 col-md-7 no-padding">
                <div ng-if="(data.stats.doelpunten | number:0) == 0" class="value-top" style="left: 0;"><strong>{{ data.stats.doelpunten | number:0 }} doelpunt<span ng-if="data.stats.doelpunten.toFixed(0) != 1">en</span></strong></div>
                <div ng-if="(data.stats_vs.doelpunten | number:0) > (data.stats.doelpunten | number:0)" class="value-top" ng-style="{ left: 'calc(100% * (' + data.stats.doelpunten.toFixed(0) + ' / ' + data.stats_vs.doelpunten.toFixed(0) + '))'}"><strong>{{ data.stats.doelpunten | number:0 }} doelpunt<span ng-if="data.stats.doelpunten.toFixed(0) != 1">en</span></strong></div>
                <div ng-if="(data.stats.doelpunten | number:0) > 0 && (data.stats_vs.doelpunten | number:0) <= (data.stats.doelpunten | number:0)" class="value-top" style="left: 80%;"><strong>{{ data.stats.doelpunten | number:0 }} doelpunt<span ng-if="data.stats.doelpunten.toFixed(0) != 1">en</span></strong></div>
                <div class="slider1">
                    <div class="slider corner-all">
                        <div ng-if="(data.stats.doelpunten | number:0) == 0" class="slider-range corner-all" style="width: 0;"></div>
                        <div ng-if="(data.stats_vs.doelpunten | number:0) > (data.stats.doelpunten | number:0)" class="slider-range corner-all" ng-style="{ width: 'calc(100% * (' + data.stats.doelpunten.toFixed(0) + ' / ' + data.stats_vs.doelpunten.toFixed(0) + '))' }"></div>
                        <div ng-if="(data.stats.doelpunten | number:0) > 0 && (data.stats_vs.doelpunten | number:0) <= (data.stats.doelpunten | number:0)" class="slider-range corner-all" style="width: 80%;"></div>
                        <span ng-if="(data.stats.doelpunten | number:0) == 0" class="slider-handle corner-all" tabindex="0" style="left: 0;"></span>
                        <span ng-if="(data.stats_vs.doelpunten | number:0) > (data.stats.doelpunten | number:0)" class="slider-handle corner-all" tabindex="0" ng-style="{ left: 'calc(100% * (' + data.stats.doelpunten.toFixed(0) + ' / ' + data.stats_vs.doelpunten.toFixed(0) + '))' }"></span>
                        <span ng-if="(data.stats.doelpunten | number:0) > 0 && (data.stats_vs.doelpunten | number:0) <= (data.stats.doelpunten | number:0)" class="slider-handle corner-all" tabindex="0" style="left: 80%;"></span>
                    </div>
                </div>
                <div ng-if="(data.stats_vs.doelpunten | number:0) > (data.stats.doelpunten | number:0)" class="value-bottom" style="right: 0%;"><strong>{{ data.stats_vs.doelpunten | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
                <div ng-if="(data.stats_vs.doelpunten | number:0) == 0 && (data.stats_vs.doelpunten | number:0) <= (data.stats.doelpunten | number:0)" class="value-bottom" style="right: 100%;"><strong>{{ data.stats_vs.doelpunten | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
                <div ng-if="(data.stats_vs.doelpunten | number:0) > 0 && (data.stats_vs.doelpunten | number:0) <= (data.stats.doelpunten | number:0)" class="value-bottom" ng-style="{ right: 'calc((100% - 80% * (' + data.stats_vs.doelpunten.toFixed(0) + ' / ' + data.stats.doelpunten.toFixed(0) + ')))' }"><strong>{{ data.stats_vs.doelpunten | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
            </div>

            <div class="col-xs-10 col-md-7 no-padding">
                <div ng-if="(data.stats.doelpogingen | number:0) == 0" class="value-top" style="left: 0;"><strong>{{ data.stats.doelpogingen | number:0 }} doelpoging<span ng-if="data.stats.doelpogingen.toFixed(0) != 1">en</span></strong></div>
                <div ng-if="(data.stats_vs.doelpogingen | number:0) > (data.stats.doelpogingen | number:0)" class="value-top" ng-style="{ left: 'calc(100% * (' + data.stats.doelpogingen.toFixed(0) + ' / ' + data.stats_vs.doelpogingen.toFixed(0) + '))'}"><strong>{{ data.stats.doelpogingen | number:0 }} doelpoging<span ng-if="data.stats.doelpogingen.toFixed(0) != 1">en</span></strong></div>
                <div ng-if="(data.stats.doelpogingen | number:0) > 0 && (data.stats_vs.doelpogingen | number:0) <= (data.stats.doelpogingen | number:0)" class="value-top" style="left: 80%;"><strong>{{ data.stats.doelpogingen | number:0 }} doelpoging<span ng-if="data.stats.doelpogingen.toFixed(0) != 1">en</span></strong></div>
                <div class="slider1">
                    <div class="slider corner-all">
                        <div ng-if="(data.stats.doelpogingen | number:0) == 0" class="slider-range corner-all" style="width: 0;"></div>
                        <div ng-if="(data.stats_vs.doelpogingen | number:0) > (data.stats.doelpogingen | number:0)" class="slider-range corner-all" ng-style="{ width: 'calc(100% * (' + data.stats.doelpogingen.toFixed(0) + ' / ' + data.stats_vs.doelpogingen.toFixed(0) + '))' }"></div>
                        <div ng-if="(data.stats.doelpogingen | number:0) > 0 && (data.stats_vs.doelpogingen | number:0) <= (data.stats.doelpogingen | number:0)" class="slider-range corner-all" style="width: 80%;"></div>
                        <span ng-if="(data.stats.doelpogingen | number:0) == 0" class="slider-handle corner-all" tabindex="0" style="left: 0;"></span>
                        <span ng-if="(data.stats_vs.doelpogingen | number:0) > (data.stats.doelpogingen | number:0)" class="slider-handle corner-all" tabindex="0" ng-style="{ left: 'calc(100% * (' + data.stats.doelpogingen.toFixed(0) + ' / ' + data.stats_vs.doelpogingen.toFixed(0) + '))' }"></span>
                        <span ng-if="(data.stats.doelpogingen | number:0) > 0 && (data.stats_vs.doelpogingen | number:0) <= (data.stats.doelpogingen | number:0)" class="slider-handle corner-all" tabindex="0" style="left: 80%;"></span>
                    </div>
                </div>
                <div ng-if="(data.stats_vs.doelpogingen | number:0) > (data.stats.doelpogingen | number:0)" class="value-bottom" style="right: 0%;"><strong>{{ data.stats_vs.doelpogingen | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
                <div ng-if="(data.stats_vs.doelpogingen | number:0) == 0 && (data.stats_vs.doelpogingen | number:0) <= (data.stats.doelpogingen | number:0)" class="value-bottom" style="right: 100%;"><strong>{{ data.stats_vs.doelpogingen | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
                <div ng-if="(data.stats_vs.doelpogingen | number:0) > 0 && (data.stats_vs.doelpogingen | number:0) <= (data.stats.doelpogingen | number:0)" class="value-bottom" ng-style="{ right: 'calc((100% - 80% * (' + data.stats_vs.doelpogingen.toFixed(0) + ' / ' + data.stats.doelpogingen.toFixed(0) + ')))' }"><strong>{{ data.stats_vs.doelpogingen | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
            </div>

            <div class="col-xs-10 col-md-7 no-padding">
                <div ng-if="(data.stats.intercepties | number:0) == 0" class="value-top" style="left: 0;"><strong>{{ data.stats.intercepties | number:0 }} interceptie<span ng-if="data.stats.intercepties.toFixed(0) != 1">s</span></strong></div>
                <div ng-if="(data.stats_vs.intercepties | number:0) > (data.stats.intercepties | number:0)" class="value-top" ng-style="{ left: 'calc(100% * (' + data.stats.intercepties.toFixed(0) + ' / ' + data.stats_vs.intercepties.toFixed(0) + '))'}"><strong>{{ data.stats.intercepties | number:0 }} interceptie<span ng-if="data.stats.intercepties.toFixed(0) != 1">s</span></strong></div>
                <div ng-if="(data.stats.intercepties | number:0) > 0 && (data.stats_vs.intercepties | number:0) <= (data.stats.intercepties | number:0)" class="value-top" style="left: 80%;"><strong>{{ data.stats.intercepties | number:0 }} interceptie<span ng-if="data.stats.intercepties.toFixed(0) != 1">s</span></strong></div>
                <div class="slider1">
                    <div class="slider corner-all">
                        <div ng-if="(data.stats.intercepties | number:0) == 0" class="slider-range corner-all" style="width: 0;"></div>
                        <div ng-if="(data.stats_vs.intercepties | number:0) > (data.stats.intercepties | number:0)" class="slider-range corner-all" ng-style="{ width: 'calc(100% * (' + data.stats.intercepties.toFixed(0) + ' / ' + data.stats_vs.intercepties.toFixed(0) + '))' }"></div>
                        <div ng-if="(data.stats.intercepties | number:0) > 0 && (data.stats_vs.intercepties | number:0) <= (data.stats.intercepties | number:0)" class="slider-range corner-all" style="width: 80%;"></div>
                        <span ng-if="(data.stats.intercepties | number:0) == 0" class="slider-handle corner-all" tabindex="0" style="left: 0;"></span>
                        <span ng-if="(data.stats_vs.intercepties | number:0) > (data.stats.intercepties | number:0)" class="slider-handle corner-all" tabindex="0" ng-style="{ left: 'calc(100% * (' + data.stats.intercepties.toFixed(0) + ' / ' + data.stats_vs.intercepties.toFixed(0) + '))' }"></span>
                        <span ng-if="(data.stats.intercepties | number:0) > 0 && (data.stats_vs.intercepties | number:0) <= (data.stats.intercepties | number:0)" class="slider-handle corner-all" tabindex="0" style="left: 80%;"></span>
                    </div>
                </div>
                <div ng-if="(data.stats_vs.intercepties | number:0) > (data.stats.intercepties | number:0)" class="value-bottom" style="right: 0%;"><strong>{{ data.stats_vs.intercepties | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
                <div ng-if="(data.stats_vs.intercepties | number:0) == 0 && (data.stats_vs.intercepties | number:0) <= (data.stats.intercepties | number:0)" class="value-bottom" style="right: 100%;"><strong>{{ data.stats_vs.intercepties | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
                <div ng-if="(data.stats_vs.intercepties | number:0) > 0 && (data.stats_vs.intercepties | number:0) <= (data.stats.intercepties | number:0)" class="value-bottom" ng-style="{ right: 'calc((100% - 80% * (' + data.stats_vs.intercepties.toFixed(0) + ' / ' + data.stats.intercepties.toFixed(0) + ')))' }"><strong>{{ data.stats_vs.intercepties | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
            </div>

            <div class="col-xs-10 col-md-7 no-padding">
                <div ng-if="(data.stats.overtredingen | number:0) == 0" class="value-top" style="left: 0;"><strong>{{ data.stats.overtredingen | number:0 }} overtreding<span ng-if="data.stats.overtredingen.toFixed(0) != 1">en</span></strong></div>
                <div ng-if="(data.stats_vs.overtredingen | number:0) > (data.stats.overtredingen | number:0)" class="value-top" ng-style="{ left: 'calc(100% * (' + data.stats.overtredingen.toFixed(0) + ' / ' + data.stats_vs.overtredingen.toFixed(0) + '))'}"><strong>{{ data.stats.overtredingen | number:0 }} overtreding<span ng-if="data.stats.overtredingen.toFixed(0) != 1">en</span></strong></div>
                <div ng-if="(data.stats.overtredingen | number:0) > 0 && (data.stats_vs.overtredingen | number:0) <= (data.stats.overtredingen | number:0)" class="value-top" style="left: 80%;"><strong>{{ data.stats.overtredingen | number:0 }} overtreding<span ng-if="data.stats.overtredingen.toFixed(0) != 1">en</span></strong></div>
                <div class="slider1">
                    <div class="slider corner-all">
                        <div ng-if="(data.stats.overtredingen | number:0) == 0" class="slider-range corner-all" style="width: 0;"></div>
                        <div ng-if="(data.stats_vs.overtredingen | number:0) > (data.stats.overtredingen | number:0)" class="slider-range corner-all" ng-style="{ width: 'calc(100% * (' + data.stats.overtredingen.toFixed(0) + ' / ' + data.stats_vs.overtredingen.toFixed(0) + '))' }"></div>
                        <div ng-if="(data.stats.overtredingen | number:0) > 0 && (data.stats_vs.overtredingen | number:0) <= (data.stats.overtredingen | number:0)" class="slider-range corner-all" style="width: 80%;"></div>
                        <span ng-if="(data.stats.overtredingen | number:0) == 0" class="slider-handle corner-all" tabindex="0" style="left: 0;"></span>
                        <span ng-if="(data.stats_vs.overtredingen | number:0) > (data.stats.overtredingen | number:0)" class="slider-handle corner-all" tabindex="0" ng-style="{ left: 'calc(100% * (' + data.stats.overtredingen.toFixed(0) + ' / ' + data.stats_vs.overtredingen.toFixed(0) + '))' }"></span>
                        <span ng-if="(data.stats.overtredingen | number:0) > 0 && (data.stats_vs.overtredingen | number:0) <= (data.stats.overtredingen | number:0)" class="slider-handle corner-all" tabindex="0" style="left: 80%;"></span>
                    </div>
                </div>
                <div ng-if="(data.stats_vs.overtredingen | number:0) > (data.stats.overtredingen | number:0)" class="value-bottom" style="right: 0%;"><strong>{{ data.stats_vs.overtredingen | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
                <div ng-if="(data.stats_vs.overtredingen | number:0) == 0 && (data.stats_vs.overtredingen | number:0) <= (data.stats.overtredingen | number:0)" class="value-bottom" style="right: 100%;"><strong>{{ data.stats_vs.overtredingen | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
                <div ng-if="(data.stats_vs.overtredingen | number:0) > 0 && (data.stats_vs.overtredingen | number:0) <= (data.stats.overtredingen | number:0)" class="value-bottom" ng-style="{ right: 'calc((100% - 80% * (' + data.stats_vs.overtredingen.toFixed(0) + ' / ' + data.stats.overtredingen.toFixed(0) + ')))' }"><strong>{{ data.stats_vs.overtredingen | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
            </div>

            </div>
            <div ng-if="data.player_stats.spelerType == 'keeper'">

            <div class="col-xs-10 col-md-7 no-padding">
                <div ng-if="(data.stats.reddingen | number:0) == 0" class="value-top" style="left: 0;"><strong>{{ data.stats.reddingen | number:0 }} redding<span ng-if="data.stats.reddingen.toFixed(0) != 1">en</span></strong></div>
                <div ng-if="(data.stats_vs.reddingen | number:0) > (data.stats.reddingen | number:0)" class="value-top" ng-style="{ left: 'calc(100% * (' + data.stats.reddingen.toFixed(0) + ' / ' + data.stats_vs.reddingen.toFixed(0) + '))'}"><strong>{{ data.stats.reddingen | number:0 }} redding<span ng-if="data.stats.reddingen.toFixed(0) != 1">en</span></strong></div>
                <div ng-if="(data.stats.reddingen | number:0) > 0 && (data.stats_vs.reddingen | number:0) <= (data.stats.reddingen | number:0)" class="value-top" style="left: 80%;"><strong>{{ data.stats.reddingen | number:0 }} redding<span ng-if="data.stats.reddingen.toFixed(0) != 1">en</span></strong></div>
                <div class="slider1">
                    <div class="slider corner-all">
                        <div ng-if="(data.stats.reddingen | number:0) == 0" class="slider-range corner-all" style="width: 0;"></div>
                        <div ng-if="(data.stats_vs.reddingen | number:0) > (data.stats.reddingen | number:0)" class="slider-range corner-all" ng-style="{ width: 'calc(100% * (' + data.stats.reddingen.toFixed(0) + ' / ' + data.stats_vs.reddingen.toFixed(0) + '))' }"></div>
                        <div ng-if="(data.stats.reddingen | number:0) > 0 && (data.stats_vs.reddingen | number:0) <= (data.stats.reddingen | number:0)" class="slider-range corner-all" style="width: 80%;"></div>
                        <span ng-if="(data.stats.reddingen | number:0) == 0" class="slider-handle corner-all" tabindex="0" style="left: 0;"></span>
                        <span ng-if="(data.stats_vs.reddingen | number:0) > (data.stats.reddingen | number:0)" class="slider-handle corner-all" tabindex="0" ng-style="{ left: 'calc(100% * (' + data.stats.reddingen.toFixed(0) + ' / ' + data.stats_vs.reddingen.toFixed(0) + '))' }"></span>
                        <span ng-if="(data.stats.reddingen | number:0) > 0 && (data.stats_vs.reddingen | number:0) <= (data.stats.reddingen | number:0)" class="slider-handle corner-all" tabindex="0" style="left: 80%;"></span>
                    </div>
                </div>
                <div ng-if="(data.stats_vs.reddingen | number:0) > (data.stats.reddingen | number:0)" class="value-bottom" style="right: 0%;"><strong>{{ data.stats_vs.reddingen | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
                <div ng-if="(data.stats_vs.reddingen | number:0) == 0 && (data.stats_vs.reddingen | number:0) <= (data.stats.reddingen | number:0)" class="value-bottom" style="right: 100%;"><strong>{{ data.stats_vs.reddingen | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
                <div ng-if="(data.stats_vs.reddingen | number:0) > 0 && (data.stats_vs.reddingen | number:0) <= (data.stats.reddingen | number:0)" class="value-bottom" ng-style="{ right: 'calc((100% - 80% * (' + data.stats_vs.reddingen.toFixed(0) + ' / ' + data.stats.reddingen.toFixed(0) + ')))' }"><strong>{{ data.stats_vs.reddingen | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
            </div>

            <div class="col-xs-10 col-md-7 no-padding">
                <div ng-if="(data.stats.doelpunten_tegen | number:0) == 0" class="value-top" style="left: 0;"><strong>{{ data.stats.doelpunten_tegen | number:0 }} doelpunt<span ng-if="data.stats.doelpunten_tegen.toFixed(0) != 1">en</span> tegen</strong></div>
                <div ng-if="(data.stats_vs.doelpunten_tegen | number:0) > (data.stats.doelpunten_tegen | number:0)" class="value-top" ng-style="{ left: 'calc(100% * (' + data.stats.doelpunten_tegen.toFixed(0) + ' / ' + data.stats_vs.doelpunten_tegen.toFixed(0) + '))'}"><strong>{{ data.stats.doelpunten_tegen | number:0 }} doelpunt<span ng-if="data.stats.doelpunten_tegen.toFixed(0) != 1">en</span> tegen</strong></div>
                <div ng-if="(data.stats.doelpunten_tegen | number:0) > 0 && (data.stats_vs.doelpunten_tegen | number:0) <= (data.stats.doelpunten_tegen | number:0)" class="value-top" style="left: 80%;"><strong>{{ data.stats.doelpunten_tegen | number:0 }} doelpunt<span ng-if="data.stats.doelpunten_tegen.toFixed(0) != 1">en</span> tegen</strong></div>
                <div class="slider1">
                    <div class="slider corner-all">
                        <div ng-if="(data.stats.doelpunten_tegen | number:0) == 0" class="slider-range corner-all" style="width: 0;"></div>
                        <div ng-if="(data.stats_vs.doelpunten_tegen | number:0) > (data.stats.doelpunten_tegen | number:0)" class="slider-range corner-all" ng-style="{ width: 'calc(100% * (' + data.stats.doelpunten_tegen.toFixed(0) + ' / ' + data.stats_vs.doelpunten_tegen.toFixed(0) + '))' }"></div>
                        <div ng-if="(data.stats.doelpunten_tegen | number:0) > 0 && (data.stats_vs.doelpunten_tegen | number:0) <= (data.stats.doelpunten_tegen | number:0)" class="slider-range corner-all" style="width: 80%;"></div>
                        <span ng-if="(data.stats.doelpunten_tegen | number:0) == 0" class="slider-handle corner-all" tabindex="0" style="left: 0;"></span>
                        <span ng-if="(data.stats_vs.doelpunten_tegen | number:0) > (data.stats.doelpunten_tegen | number:0)" class="slider-handle corner-all" tabindex="0" ng-style="{ left: 'calc(100% * (' + data.stats.doelpunten_tegen.toFixed(0) + ' / ' + data.stats_vs.doelpunten_tegen.toFixed(0) + '))' }"></span>
                        <span ng-if="(data.stats.doelpunten_tegen | number:0) > 0 && (data.stats_vs.doelpunten_tegen | number:0) <= (data.stats.doelpunten_tegen | number:0)" class="slider-handle corner-all" tabindex="0" style="left: 80%;"></span>
                    </div>
                </div>
                <div ng-if="(data.stats_vs.doelpunten_tegen | number:0) > (data.stats.doelpunten_tegen | number:0)" class="value-bottom" style="right: 0%;"><strong>{{ data.stats_vs.doelpunten_tegen | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
                <div ng-if="(data.stats_vs.doelpunten_tegen | number:0) == 0 && (data.stats_vs.doelpunten_tegen | number:0) <= (data.stats.doelpunten_tegen | number:0)" class="value-bottom" style="right: 100%;"><strong>{{ data.stats_vs.doelpunten_tegen | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
                <div ng-if="(data.stats_vs.doelpunten_tegen | number:0) > 0 && (data.stats_vs.doelpunten_tegen | number:0) <= (data.stats.doelpunten_tegen | number:0)" class="value-bottom" ng-style="{ right: 'calc((100% - 80% * (' + data.stats_vs.doelpunten_tegen.toFixed(0) + ' / ' + data.stats.doelpunten_tegen.toFixed(0) + ')))' }"><strong>{{ data.stats_vs.doelpunten_tegen | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
            </div>

            <div class="col-xs-10 col-md-7 no-padding">
                <div ng-if="(data.stats.gevangen_ballen | number:0) == 0" class="value-top" style="left: 0;"><strong>{{ data.stats.gevangen_ballen | number:0 }} gevangen bal<span ng-if="data.stats.gevangen_ballen.toFixed(0) != 1">len</span></strong></div>
                <div ng-if="(data.stats_vs.gevangen_ballen | number:0) > (data.stats.gevangen_ballen | number:0)" class="value-top" ng-style="{ left: 'calc(100% * (' + data.stats.gevangen_ballen.toFixed(0) + ' / ' + data.stats_vs.gevangen_ballen.toFixed(0) + '))'}"><strong>{{ data.stats.gevangen_ballen | number:0 }} gevangen bal<span ng-if="data.stats.gevangen_ballen.toFixed(0) != 1">len</span></strong></div>
                <div ng-if="(data.stats.gevangen_ballen | number:0) > 0 && (data.stats_vs.gevangen_ballen | number:0) <= (data.stats.gevangen_ballen | number:0)" class="value-top" style="left: 80%;"><strong>{{ data.stats.gevangen_ballen | number:0 }} gevangen bal<span ng-if="data.stats.gevangen_ballen.toFixed(0) != 1">len</span></strong></div>
                <div class="slider1">
                    <div class="slider corner-all">
                        <div ng-if="(data.stats.gevangen_ballen | number:0) == 0" class="slider-range corner-all" style="width: 0;"></div>
                        <div ng-if="(data.stats_vs.gevangen_ballen | number:0) > (data.stats.gevangen_ballen | number:0)" class="slider-range corner-all" ng-style="{ width: 'calc(100% * (' + data.stats.gevangen_ballen.toFixed(0) + ' / ' + data.stats_vs.gevangen_ballen.toFixed(0) + '))' }"></div>
                        <div ng-if="(data.stats.gevangen_ballen | number:0) > 0 && (data.stats_vs.gevangen_ballen | number:0) <= (data.stats.gevangen_ballen | number:0)" class="slider-range corner-all" style="width: 80%;"></div>
                        <span ng-if="(data.stats.gevangen_ballen | number:0) == 0" class="slider-handle corner-all" tabindex="0" style="left: 0;"></span>
                        <span ng-if="(data.stats_vs.gevangen_ballen | number:0) > (data.stats.gevangen_ballen | number:0)" class="slider-handle corner-all" tabindex="0" ng-style="{ left: 'calc(100% * (' + data.stats.gevangen_ballen.toFixed(0) + ' / ' + data.stats_vs.gevangen_ballen.toFixed(0) + '))' }"></span>
                        <span ng-if="(data.stats.gevangen_ballen | number:0) > 0 && (data.stats_vs.gevangen_ballen | number:0) <= (data.stats.gevangen_ballen | number:0)" class="slider-handle corner-all" tabindex="0" style="left: 80%;"></span>
                    </div>
                </div>
                <div ng-if="(data.stats_vs.gevangen_ballen | number:0) > (data.stats.gevangen_ballen | number:0)" class="value-bottom" style="right: 0%;"><strong>{{ data.stats_vs.gevangen_ballen | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
                <div ng-if="(data.stats_vs.gevangen_ballen | number:0) == 0 && (data.stats_vs.gevangen_ballen | number:0) <= (data.stats.gevangen_ballen | number:0)" class="value-bottom" style="right: 100%;"><strong>{{ data.stats_vs.gevangen_ballen | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
                <div ng-if="(data.stats_vs.gevangen_ballen | number:0) > 0 && (data.stats_vs.gevangen_ballen | number:0) <= (data.stats.gevangen_ballen | number:0)" class="value-bottom" ng-style="{ right: 'calc((100% - 80% * (' + data.stats_vs.gevangen_ballen.toFixed(0) + ' / ' + data.stats.gevangen_ballen.toFixed(0) + ')))' }"><strong>{{ data.stats_vs.gevangen_ballen | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
            </div>

            <div class="col-xs-10 col-md-7 no-padding">
                <div ng-if="(data.stats.weggestompte_ballen | number:0) == 0" class="value-top" style="left: 0;"><strong>{{ data.stats.weggestompte_ballen | number:0 }} weggestompte bal<span ng-if="data.stats.weggestompte_ballen.toFixed(0) != 1">len</span></strong></div>
                <div ng-if="(data.stats_vs.weggestompte_ballen | number:0) > (data.stats.weggestompte_ballen | number:0)" class="value-top" ng-style="{ left: 'calc(100% * (' + data.stats.weggestompte_ballen.toFixed(0) + ' / ' + data.stats_vs.weggestompte_ballen.toFixed(0) + '))'}"><strong>{{ data.stats.weggestompte_ballen | number:0 }} weggestompte bal<span ng-if="data.stats.weggestompte_ballen.toFixed(0) != 1">len</span></strong></div>
                <div ng-if="(data.stats.weggestompte_ballen | number:0) > 0 && (data.stats_vs.weggestompte_ballen | number:0) <= (data.stats.weggestompte_ballen | number:0)" class="value-top" style="left: 80%;"><strong>{{ data.stats.weggestompte_ballen | number:0 }} weggestompte bal<span ng-if="data.stats.weggestompte_ballen.toFixed(0) != 1">len</span></strong></div>
                <div class="slider1">
                    <div class="slider corner-all">
                        <div ng-if="(data.stats.weggestompte_ballen | number:0) == 0" class="slider-range corner-all" style="width: 0;"></div>
                        <div ng-if="(data.stats_vs.weggestompte_ballen | number:0) > (data.stats.weggestompte_ballen | number:0)" class="slider-range corner-all" ng-style="{ width: 'calc(100% * (' + data.stats.weggestompte_ballen.toFixed(0) + ' / ' + data.stats_vs.weggestompte_ballen.toFixed(0) + '))' }"></div>
                        <div ng-if="(data.stats.weggestompte_ballen | number:0) > 0 && (data.stats_vs.weggestompte_ballen | number:0) <= (data.stats.weggestompte_ballen | number:0)" class="slider-range corner-all" style="width: 80%;"></div>
                        <span ng-if="(data.stats.weggestompte_ballen | number:0) == 0" class="slider-handle corner-all" tabindex="0" style="left: 0;"></span>
                        <span ng-if="(data.stats_vs.weggestompte_ballen | number:0) > (data.stats.weggestompte_ballen | number:0)" class="slider-handle corner-all" tabindex="0" ng-style="{ left: 'calc(100% * (' + data.stats.weggestompte_ballen.toFixed(0) + ' / ' + data.stats_vs.weggestompte_ballen.toFixed(0) + '))' }"></span>
                        <span ng-if="(data.stats.weggestompte_ballen | number:0) > 0 && (data.stats_vs.weggestompte_ballen | number:0) <= (data.stats.weggestompte_ballen | number:0)" class="slider-handle corner-all" tabindex="0" style="left: 80%;"></span>
                    </div>
                </div>
                <div ng-if="(data.stats_vs.weggestompte_ballen | number:0) > (data.stats.weggestompte_ballen | number:0)" class="value-bottom" style="right: 0%;"><strong>{{ data.stats_vs.weggestompte_ballen | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
                <div ng-if="(data.stats_vs.weggestompte_ballen | number:0) == 0 && (data.stats_vs.weggestompte_ballen | number:0) <= (data.stats.weggestompte_ballen | number:0)" class="value-bottom" style="right: 100%;"><strong>{{ data.stats_vs.weggestompte_ballen | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
                <div ng-if="(data.stats_vs.weggestompte_ballen | number:0) > 0 && (data.stats_vs.weggestompte_ballen | number:0) <= (data.stats.weggestompte_ballen | number:0)" class="value-bottom" ng-style="{ right: 'calc((100% - 80% * (' + data.stats_vs.weggestompte_ballen.toFixed(0) + ' / ' + data.stats.weggestompte_ballen.toFixed(0) + ')))' }"><strong>{{ data.stats_vs.weggestompte_ballen | number:0 }}</strong><span>{{ data.vs_naam }}</span></div>
            </div>

            </div>

            <div class="col-xs-12 no-padding">
                <img src="/images/passes.png" width="5%">Lengte passes
            </div>
            <div class="col-xs-12 no-padding">
                <div class="col-xs-12 no-padding"><span style="width:calc(20% + {{ data.stats.pass_lengte | number:0 }}%);" id="arrow"></span> {{ data.stats.pass_lengte | number:1 }} m</div>
            </div>
            <div class="col-xs-12 no-padding grey">
                <div class="col-xs-12 no-padding"><span style="width:calc(20% + {{ data.stats_vs.pass_lengte | number:0 }}%);" id="arrow-vs"></span> {{ data.stats_vs.pass_lengte | number:1 }} m</div>
                <div class="col-xs-12">&nbsp;</div>
            </div>

            <div class="col-xs-12 no-padding">
                <img src="/images/kaarten.png" width="5%">Kaarten
                &nbsp;&nbsp;
                <span ng-repeat="n in [] | range: data.stats.rood" class="card"><i class="fa fa-file" style="color: #ED1C24;"></i>&nbsp;</span>
                <span ng-repeat="n in [] | range: data.stats.geel" class="card"><i class="fa fa-file" style="color: #ffcc00;"></i>&nbsp;</span>
            </div>
            <!--<div class="col-xs-12 no-padding grey">
                <img src="/images/kaarten.png" width="5%">Kaarten
                &nbsp;&nbsp;
                <span ng-repeat="n in [] | range: data.stats_vs.rood" class="card"><i class="fa fa-file" style="color: #ED1C24;"></i>&nbsp;</span>
                <span ng-repeat="n in [] | range: data.stats_vs.geel" class="card"><i class="fa fa-file" style="color: #ffcc00;"></i>&nbsp;</span>
            </div>-->
        </div>
        <div class="col-xs-12 col-sm-10 content-players">
            <div class="col-xs-12 no-padding"><h4>Skils</h4></div>

            <div class="col-xs-12" ng-if="data.player_stats.spelerType !== 'keeper'">
                <canvas tc-chartjs-radar chart-options="data.options" chart-data="data.chart_player" chart-legend="data.legend_player"></canvas>
                <div tc-chartjs-legend chart-legend="data.legend_player"></div>
            </div>

            <div class="col-xs-12" ng-if="data.player_stats.spelerType == 'keeper'">
                <canvas tc-chartjs-radar chart-options="data.options" chart-data="data.chart_keeper" chart-legend="data.legend_keeper"></canvas>
                <div tc-chartjs-legend chart-legend="data.legend_keeper"></div>
            </div>
        </div>
        </div>

        <br class="clear">

        <div class="col-xs-12 content-players">
            <hr>
            <div class="col-xs-12 no-padding orange">Laatste wedstrijden dit seizoen ({{ data.season_index }})</div>
            <div class="col-xs-12 no-padding"><div class="col-xs-5 col-md-2 no-padding">{{ data.season_matches_init[data.season_matches_init.length - 1].datum }}</div><div class="col-xs-5 col-md-4"><a ng-href="/wedstrijd/{{ data.season_matches_init[data.season_matches_init.length - 1].matchID }}" tooltip-placement="right" tooltip="ga naar wedstrijd rapport">{{ data.season_matches_init[data.season_matches_init.length - 1].wedstrijd }}</a></div><div class="col-xs-2 col-md-2">{{ data.season_matches_init[data.season_matches_init.length - 1].eindstand }}</div></div>
            <div class="col-xs-12 no-padding"><div class="col-xs-5 col-md-2 no-padding">{{ data.season_matches_init[data.season_matches_init.length - 2].datum }}</div><div class="col-xs-5 col-md-4"><a ng-href="/wedstrijd/{{ data.season_matches_init[data.season_matches_init.length - 2].matchID }}" tooltip-placement="right" tooltip="ga naar wedstrijd rapport">{{ data.season_matches_init[data.season_matches_init.length - 2].wedstrijd }}</a></div><div class="col-xs-2 col-md-2">{{ data.season_matches_init[data.season_matches_init.length - 2].eindstand }}</div></div>
            <div class="col-xs-12 no-padding"><div class="col-xs-5 col-md-2 no-padding">{{ data.season_matches_init[data.season_matches_init.length - 3].datum }}</div><div class="col-xs-5 col-md-4"><a ng-href="/wedstrijd/{{ data.season_matches_init[data.season_matches_init.length - 3].matchID }}" tooltip-placement="right" tooltip="ga naar wedstrijd rapport">{{ data.season_matches_init[data.season_matches_init.length - 3].wedstrijd }}</a></div><div class="col-xs-2 col-md-2">{{ data.season_matches_init[data.season_matches_init.length - 3].eindstand }}</div></div>
            <div class="col-xs-12 no-padding"><div class="col-xs-5 col-md-2 no-padding">{{ data.season_matches_init[data.season_matches_init.length - 4].datum }}</div><div class="col-xs-5 col-md-4"><a ng-href="/wedstrijd/{{ data.season_matches_init[data.season_matches_init.length - 4].matchID }}" tooltip-placement="right" tooltip="ga naar wedstrijd rapport">{{ data.season_matches_init[data.season_matches_init.length - 4].wedstrijd }}</a></div><div class="col-xs-2 col-md-2">{{ data.season_matches_init[data.season_matches_init.length - 4].eindstand }}</div></div>
        </div>

        <div class="col-xs-12 content-players-name">
            <div class="col-xs-12">
                <h4>Logboek per wedstrijd</h4>
            </div>
        </div>
        <div class="col-xs-12 content-players logboek" ng-if="data.match">
            Wedstrijd ronde {{ data.match.ronde }}: {{ data.match.wedstrijd }} ({{ data.match.eindstand }}) <small>(ronde wijzigen door bovenaan de balk naar juiste ronde te verschuiven)</small>
            <br>Alle mogelijke notities kunnen hier geplaatst worden
            <hr>
            <p>Persoonlijke reflectie deze wedstrijd</p>
            <div ng-if="infoSaveLog" class="alert alert-info" role="alert">{{ infoSaveLog }}</div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-bottom: 0;">
                <label for="inputScore" class="col-xs-8 col-md-6 control-label">EMI (0-10)</label>
                <div class="col-xs-4 col-md-6">
                    <input type="number" class="form-control" id="inputScore" ng-model="data.match.scores.emi" min="0" max="10">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 form-group" style="margin-bottom: 0;">
                <label for="inputScore2" class="col-xs-8 col-md-6 control-label">EMH (0-10)</label>
                <div class="col-xs-4 col-md-6">
                    <input type="number" class="form-control" id="inputScore2" ng-model="data.match.scores.emh" min="0" max="10">
                </div>
            </div>
            <button ng-hide="currentUser.role !== 'speler' && currentUser.role !== 'admin'" type="button" class="btn btn-primary btn-sm" ng-click="data.savePlayerLog()">Opslaan</button>
        </div>
        <div class="col-xs-12 content-players logboek" ng-if="data.match">
            <hr>
            <h4>Opmerkingen</h4>
            <div ng-if="infoAddPlayerLog" class="alert alert-info" role="alert">{{ infoAddPlayerLog }}</div>
            <small>Opmerkingen of notities over deze wedstrijd kunnen hier geplaatst worden door de speler zelf en de coaches.
                Zo kan later teruggelezen worden waar het goed of juist fout ging.
            </small>
            <textarea class="form-control" ng-model="data.playerlogtemp" rows="2"></textarea>
            <button type="button" class="btn btn-primary btn-sm" ng-click="data.addPlayerLog()">Plaats</button>
            <br><br>
            <p ng-if="data.match.player_log.length <= 0">Geen opmerkingen geplaatst..</p>
            <p ng-repeat="log in data.match.player_log | orderBy:'-pub_date'">
                {{ log.text }} <small class="pull-right" style="margin: 6px 0;">door {{ log.author }} op {{ log.pub_date | date:'d MMM yyyy HH:mm' }}</small>
            </p>
        </div>

        <br class="clear">

    </div>

</div>