<navbar ng-hide="isLogged()"></navbar>
<navbarclub ng-show="isLogged()"></navbarclub>

<div class="block-disclaimer" ng-controller="mainapp.pageIndex.IndexController as data">
    <div class="home-intro">
        <div class="container">
            <div class="col-lg-12">
                <h2>Disclaimer</h2>
                <h4>Gebruik data</h4>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-xs-12">
            <p ng-bind-html="data.pages.disclaimer | html_trusted"></p>
        </div>
    </div>
</div>

<div class="clear"></div>

<script>
    angular.element(document).ready(function () {
        $('body').css('background-color', '#E7EAF1');
    });
</script>