<navbar ng-hide="isLogged()"></navbar>
<navbarclub ng-show="isLogged()"></navbarclub>

<div class="container-fluid intro-box"></div>

<div class="page-content">
    <div class="container">
        <div class="col-xs-12 content content-page content-page-full">
            <div class="col-xs-12">
                <h1>Disclaimer</h1>
                <h2></h2>
                <hr>
                <p>De data die hier gebruikt wordt is afkomstig van Ortect TSS. Er kunnen kleine fouten voorkomen in deze data.
                    Het Soccer Performance Centre is niet verantwoordelijk voor de controle op juistheid van de data. Uiteraard
                    doen wij ons best om de data correct weer te geven. Zo nodig zal bij incorrecte data of missen van grote
                    delen van de data de niet bruikbare delen van een wedstrijd of gehele wedstrijden worden verwijderd uit
                    ons systeem.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>

<script>
    angular.element(document).ready(function () {
        $('body').css('background-color', '#E7EAF1');
    });
</script>