<div class="container">
    <br class="hidden-xs"><br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm hidden-md">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7">

        <!--<div class="jumbotron home-intro">
            <img id="showsmall" src="images/SPC_logo.png" height="150px" title="Soccer Performance Centre" class="pull-left" style="margin-right: 15px;">
            <img id="showxsmall" src="images/SPC_logo.png" title="Soccer Performance Centre" style="width: 80%; margin-right: 10%;">
            &lt;!&ndash;<h2 id="showsmall">Soccer Performance Centre</h2>&ndash;&gt;
            <h1 id="showlarge">Het platform voor de fan, de speler en de coach!</h1>
            <h2 id="showmedium">Het platform voor de fan, de speler en de coach!</h2>
            <h3 id="showsmall">Het platform voor de fan, de speler en de coach!</h3>
            Het Soccer Performance Centre is er voor iedereen: een overzicht voor fans en uitgebreide professionele statistieken en analyses voor de coaches van de voetbalclubs en hun spelers zelf.
        </div>-->

        <div class="jumbotron home-intro">
            <img id="showsmall" src="images/SPC_logo.png" height="150px" title="Soccer Performance Centre" class="pull-left" style="margin-right: 15px;">
            <img id="showxsmall" src="images/SPC_logo.png" title="Soccer Performance Centre" style="width: 80%; margin-right: 10%;">
            <!--<h2 id="showsmall">Soccer Performance Centre</h2>-->
            <h1 id="showlarge">{{ data.pages.home.title }}</h1>
            <h2 id="showmedium">{{ data.pages.home.title }}</h2>
            <h3 id="showsmall">{{ data.pages.home.title }}</h3>
            {{ data.pages.home.description }}
        </div>

        <a ng-repeat="button in data.pages.home.buttons" class="btn btn-primary btn-lg" ng-href="{{ button.link }}"><i ng-if="button.icon" class="fa fa-{{ button.icon }}"></i> {{ button.title }}</a>

        <!--<a class="btn btn-primary btn-lg" href="/over" title="Lees meer over ons"><i class="fa fa-info-circle"></i> Wat doen wij?</a>
        <a class="btn btn-primary btn-lg" href="/login" title="Log direct in"><i class="fa fa-soccer-ball-o"></i> Direct inloggen</a>-->

    </div>
</div>