<div class="page-top">
    <div class="container">
        <div class="col-md-2">
            <div class="col-md-2 navbar-sub">
                <div class="item-title">Analyse</div>
                <ul id="nav-sub" class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="/wedstrijd" scroll-to="top"><i class="fa fa-soccer-ball-o"></i> Wedstrijd</a></li>
                    <li role="presentation"><a href="/spelers" scroll-to="top"><i class="fa fa-user"></i> Spelers</a></li>
                    <!--<li role="presentation"><a href="/extra" scroll-to="top"><i class="fa fa-plus"></i> Extra analyse</a></li>-->
                    <!--<li role="presentation"><a href="/training" scroll-to="top"><i class="fa fa-steam"></i> Training</a></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">

        <div class="col-md-10 col-md-offset-2 content content-page content-page-main">

            <div class="col-lg-12 image-title">
                <h1>Soccer performance</h1>
                <h2>Analyse</h2>
            </div>
            <div class="col-lg-12 image-text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            </div>
            <br class="clear">

        </div>

    </div>
</div>