@import '../../app/styles/variables';

.footer {
  background-color: $white;
  min-height: 100px;
  clear: both;

  .item-title {
    font-size: 12px;
    text-transform: uppercase;
    color: $blue;
    margin: 18px 0 4px 0;

    small {
      text-transform: none;
    }
  }
  .item-content {
    font-size: 12px;
    margin: 0 0 4px 0;
  }
}

/********************************************************
Responsive setup
********************************************************/
@media screen and (min-width:1600px) {
}
@media screen and (max-width:1599px) {
}
@media screen and (max-width:1199px) {
}
@media screen and (max-width:991px) {
}
@media screen and (max-width:767px) {
}
@media screen and (max-width:320px) {
}