@import '../../app/styles/variables';

.header-image{
  background: $white url('../images/SPC_logo_300dpi.jpg') no-repeat fixed 95% top;
  background-size: auto 90%;
  height: 10vh;

  @media screen and (min-width:1600px) { background-size: auto 95%; }
  @media screen and (max-width:1599px) { background-size: auto 90%; }
  @media screen and (max-width:1199px) { background-size: auto 85%; }
  @media (max-width: 991px) { background-size: auto 80%; }
  @media (max-width: 767px) { background: $white; }
  @media (max-width: 480px) { background: $white; }
}

.header-block {
  background: $white url('../images/SPC_logo_300dpi.jpg') no-repeat fixed 95% top;
  background-size: auto 90%;
  height: 90vh;

  @media screen and (min-width:1600px) { background-size: auto 95%; }
  @media screen and (max-width:1599px) { background-size: auto 90%; }
  @media screen and (max-width:1199px) { background-size: auto 85%; }
  @media (max-width: 991px) { background-size: auto 80%; }
  @media (max-width: 767px) { background: $white; }
  @media (max-width: 480px) { background: $white; }

  .home-intro {
    background: transparent;
    color: $black;
    padding: 0;
    //background: $blue;
    //color: $white;
    //-webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    //-moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    //box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);

    @media (max-width: 767px) { background: $white; color: $black; }
    @media (max-width: 480px) { background: $white; color: $black; }

    #showxsmall {
      display: none;
      @media (max-width: 991px) { display: none; }
      @media (max-width: 767px) { display: none; }
      @media (max-width: 480px) { display: block; }
    }
    #showsmall {
      display: none;
      @media (max-width: 991px) { display: none; }
      @media (max-width: 767px) { display: block; }
      @media (max-width: 480px) { display: none; }
    }
    #showmedium {
      display: none;
      @media (max-width: 991px) { display: block; }
      @media (max-width: 767px) { display: none; }
      @media (max-width: 480px) { display: none; }
    }
    #showlarge {
      display: block;
      @media (max-width: 991px) { display: none; }
      @media (max-width: 767px) { display: none; }
      @media (max-width: 480px) { display: none; }
    }
  }

  a.btn.btn-lg {
    margin: 10px 2px 0 0;
  }
}

//.block-jl {
//  background: $black;
//  height: 100vh;
//  width: 100%;
//
//  .home-intro {
//    width: 100%;
//    padding: 20px;
//    margin-bottom: 20px;
//    margin-top: 65px;
//    color: $white;
//    background: $lightblue url('../images/background.jpg') no-repeat center bottom;
//    background-size: cover;
//    background-attachment: fixed;
//    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
//    -moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
//    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
//  }
//  .item {
//    background-color: $white;
//    border: 1px solid $lightgrey;
//    margin: 0 0 20px 0;
//
//    .image {
//      margin-left: -30px;
//    }
//    .pull-right.image {
//      margin-left: 0;
//      margin-right: -30px;
//    }
//  }
//}

.block-over {
  background: $background;
  height: 100vh;
  width: 100%;

  .home-intro {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 65px;
    color: $white;
    background: $lightblue url('../images/background.jpg') no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }

  .item {
    //background-color: $white;
    //border: 1px solid $lightgrey;
    margin: 0;
    padding: 0;
    padding-top: 150px;

    .image {
      margin-top: -100px;
    }
  }
  .item:nth-child(even) {
    background-color: $backgroundlight;
  }
  .item:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-box-shadow: 0 10px 40px -15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 40px -15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 40px -15px rgba(0, 0, 0, 0.2);
  }
}

.block-contact {
  background-color: $white;
  height: 100vh;
  width: 100%;

  .home-intro {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 65px;
    color: $white;
    background: $lightblue url('../images/background.jpg') no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
}

.block-disclaimer {
  background-color: $white;
  height: 100vh;
  width: 100%;

  .home-intro {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 65px;
    color: $white;
    background: $lightblue url('../images/background.jpg') no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
}

.block-error {
  background-color: $white;
  height: 100vh;
  width: 100%;

  .home-intro {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 65px;
    color: $white;
    background: $lightblue url('../images/background.jpg') no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }

  .home-intro-2x {
    padding-top: 15vh;

    a {
      color: $white;
    }
  }
}

/********************************************************
Responsive setup
********************************************************/
@media screen and (min-width:1600px) {
}
@media screen and (max-width:1599px) {
}
@media screen and (max-width:1199px) {
}
@media screen and (max-width:991px) {
}
@media screen and (max-width:767px) {
}
@media screen and (max-width:320px) {
}