@import '../../app/styles/variables';

.content.content-page {
  .content-club-title {
    color: $middleblue;
    background-color: $white;
    padding-top: 0;
    margin: 0;

    .season {
      margin-top: 9px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 18px;
      margin-top: 15px;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    h4 {
      text-transform: uppercase;
    }
  }
  .content-club-name {
    color: $white;
    background: $lightblue url('../images/background.jpg') no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin-top: 0;
    margin-bottom: 15px;

    .center-block {
      background: $middleblue url('../images/background.jpg') no-repeat center bottom;
      background-size: cover;
      background-attachment: fixed;
    }

    h2 {
      margin-top: 10px;
      margin-bottom: 15px;
    }
    h3 {
      margin-top: 15px;
      margin-bottom: 10px;
      margin-left: 15px;
      margin-right: 15px;
    }
    img {
      float: left;
      height: 55px;
      width: auto;
      margin-top: 1px;
      margin-right: 15px;
    }
    select.input-vs {
      background: $lightblue url('../images/background.jpg') no-repeat center bottom;
      background-size: cover;
      background-attachment: fixed;
      border: none;
      color: $white;
      padding: 4px;
      font-size: 24px;
      box-shadow: none;
      border-radius: 0;
    }
  }
  .content-club-select {
    background-color: $white;
    color: $primary-color;
    padding-bottom: 15px;
    margin-bottom: 16px;
    //border-bottom: 1px solid $lightgrey;
    //-webkit-box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.1);
    //-moz-box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.1);
    //box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.1);

    .round0, .round1 {
      font-weight: bold;
      //text-transform: uppercase;
      float: left;
      display: block;
      text-align: left;
      //background-color: $black;
      //color: $white;
      //padding: 2px 4px;
      margin-top: -4px;
      color: $middleblue;
    }

    .slider-control {
      height: 1em;
      padding-top: .5em;
      margin-bottom: 5px;
      margin-top: 15px;
    }
    .ui-slider {
      position: relative;
      text-align: left;
    }
    .ui-slider-horizontal {
      height: .8em;
    }
    .ui-slider-horizontal .ui-slider-range-min {
      left: 0;
    }
    .ui-slider-horizontal .ui-slider-range {
      top: 0;
      height: 100%;
    }
    .ui-slider .ui-slider-range {
      position: absolute;
      z-index: 1;
      font-size: .7em;
      display: block;
      border: 0;
      background-position: 0 0;
    }
    .ui-slider-horizontal .ui-slider-handle {
      top: -.1em;
      //margin-left: -.6em;
      margin-left: 0em;
    }
    .ui-widget-content {
      background: $lightgrey;
    }
    .ui-widget-header {
      background: $middleblue;
    }
    .ui-slider .ui-slider-handle {
      position: absolute;
      z-index: 2;
      width: 4px;
      height: 23px;
      top: -6px;
      background-color: $middleblue;
      cursor: pointer;
      -ms-touch-action: none;
      touch-action: none;
      @include border-radius(3);
      //border-style: solid;
      //border-width: 10px 10px 0 0;
      //border-color: $black transparent transparent transparent;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
      border-bottom-right-radius: 0px;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
      border-bottom-left-radius: 0px;
    }
    .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
      border-top-right-radius: 0px;
    }
    .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
      border-top-left-radius: 0px;
    }
  }
  .content-club-select:before {
    content: "";
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    height: 100%;
    z-index: 0;
    -webkit-box-shadow: 0 10px 40px -15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 10px 40px -15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 40px -15px rgba(0, 0, 0, 0.2);
  }
  .content-club-select:after {
    content: "";
    position: absolute;
    top: 100%;
    left: calc(50% - 5px);
    width: 0;
    height: 0;
    z-index: 0;
    border-radius: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: $white transparent transparent transparent;
  }
  .content-club:after {
    content: "";
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    height: 100%;
    z-index: 0;
    -webkit-box-shadow: 0 10px 40px -15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 10px 40px -15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 40px -15px rgba(0, 0, 0, 0.1);
  }
  .content-club {
    background-color: $white;
    color: $lightblue;
    padding-top: 15px;
    padding-bottom: 25px;
    margin-bottom: 16px;
    //border-bottom: 1px solid $lightgrey;
    //-webkit-box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.1);
    //-moz-box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.1);
    //box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.1);

    .orange {
      color: $orange !important;
    }

    small {
      color: $lightblue;
    }
    h1.large {
      font-size: 50px;
    }
    .medium {
      font-size: 32px;
    }

    #arrow {
      background-color: $middleblue;
      display: inline-block;
      width: 300px;
      height: 4px;
      margin: 0 5px;
    }
    #arrow:after {
      content: "";
      background-color: $middleblue;
      display: inline-block;
      width: 4px;
      height: 4px;
      float: right;
      margin-right: -2px;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    #arrow-vs {
      background-color: $orange;
      display: inline-block;
      width: 300px;
      height: 4px;
      margin: 0 5px;
    }
    #arrow-vs:after {
      content: "";
      background-color: $orange;
      display: inline-block;
      width: 4px;
      height: 4px;
      float: right;
      margin-right: -2px;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  .content-club-end {
    background-color: $white;
    color: $lightblue;
    padding-top: 15px;
    padding-bottom: 15px;

    .orange {
      color: $orange !important;
    }

    a {
      color: $lightblue;
    }
  }
}

/********************************************************
Responsive setup
********************************************************/
@media screen and (min-width:1600px) {
}
@media screen and (max-width:1599px) {
}
@media screen and (max-width:1199px) {
}
@media screen and (max-width:991px) {
  .content.content-page {
    .content-club-title {
      padding-bottom: 0;

      .season {
        padding: 0;
        margin-top: 4px;
        margin-bottom: 0;
      }
    }
  }
}
@media screen and (max-width:767px) {
  .content.content-page {
    .content-club-title {
      position: relative;
      .title {
        width: 50%;
      }
      .season {
        width: 50%;
      }
    }
    .content-club-name {
      margin-bottom: 10px;

      h4 {
        margin-top: 10px;
        margin-bottom: 8px;
        margin-left: 10px;
        margin-right: 10px;
      }
      h4.selector {
        font-size: 20px;
        margin: 0;
        margin-top: 4px;
      }
      img {
        height: 38px;
        margin-right: 10px;
      }
      select.input-vs {
        padding: 4px;
        font-size: 20px;
      }
    }
  }
}
@media screen and (max-width:500px) {
  .content.content-page {
    .content-club-name {
      margin-bottom: 10px;

      .club_name {
        width: 100%;
      }
      .season_selector {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width:320px) {
  .content.content-page {
    .content-club-name {
      margin-bottom: 10px;

      .club_name {
        width: 100%;
      }
      .season_selector {
        width: 100%;
      }
    }
    .content-club {
      .circle {
        width: 100%;
        text-align: left;

        .c100 {
          float: left !important;
        }
      }
    }
  }
}