<div class="container">
    <div class="col-md-2 hidden-xs hidden-sm">
        <div class="col-md-2 navbar-sub" ng-hide="match_index >= 0">
            <div class="item-title">Analyse</div>
            <ul id="nav-sub" class="nav nav-pills nav-stacked">
                <li role="presentation" class="active"><a href="/analyse/wedstrijd" scroll-to="top"><i class="fa fa-soccer-ball-o"></i> Wedstrijd</a></li>
                <li role="presentation"><a href="/analyse/spelers" scroll-to="top"><i class="fa fa-user"></i> Spelers</a></li>
                <!--<li role="presentation"><a href="/analyse/training" scroll-to="top"><i class="fa fa-steam"></i> Training</a></li>-->
            </ul>
        </div>

        <div class="col-md-2 navbar-sub" ng-show="match_index >= 0">
            <div class="item-title"><a href="/analyse">Analyse</a> / Wedstrijd</div>
            <ul id="nav-sub" class="nav nav-pills nav-stacked" role="tablist">
                <li role="presentation" class="active">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab" scroll-to="top">
                        <span class="caret-right"></span><span class="caret"></span> Wedstrijd
                    </a>
                    <ul class="nav nav-pills nav-stacked submenu">
                        <li><a href="" scroll-to="opstelling"><i class="fa fa-group"></i> Opstelling</a></li>
                        <li><a href="" scroll-to="wedstrijd"><i class="fa fa-refresh"></i> Wedstrijd</a></li>
                        <li><a href="" scroll-to="statistieken"><i class="fa fa-bar-chart"></i> Overzicht</a></li>
                        <!--<li><a href="" scroll-to="balbezit"><i class="fa fa-soccer-ball-o"></i> Balbezit</a></li>-->
                        <li><a href="" scroll-to="doelpogingen"><i class="fa fa-soccer-ball-o"></i> Doelpogingen</a></li>
                        <li><a href="" scroll-to="dueloverzicht"><i class="fa fa-compress"></i> Duels</a></li>
                        <li><a href="" scroll-to="overtredingen"><i class="fa fa-exclamation-circle"></i> Overtredingen</a></li>
                        <li><a href="" scroll-to="spelhervattingen"><i class="fa fa-pause"></i> Spelhervattingen</a></li>
                        <li><a href="" scroll-to="passoverzicht"><i class="fa fa-code-fork"></i> Passes</a></li>
                    </ul>
                </li>
                <li role="presentation">
                    <a href="#team" aria-controls="team" role="tab" data-toggle="tab" scroll-to="top">
                        <span class="caret-right"></span><span class="caret"></span> Team
                    </a>
                    <ul class="nav nav-pills nav-stacked submenu">
                        <li><a href="" scroll-to="veld"><i class="fa fa-bullseye"></i> Veld posities</a></li>
                        <li><a href="" scroll-to="locatiedoelpogingen"><i class="fa fa-location-arrow"></i> Doelpogingen</a></li>
                        <li><a href="" scroll-to="locatiebalcontact"><i class="fa fa-map-marker"></i> Locatie balcontact</a></li>
                        <li><a href="" scroll-to="passes_zone"><i class="fa fa-angle-double-right"></i> Passes per zone</a></li>
                        <li><a href="" scroll-to="passmatrix"><i class="fa fa-th"></i> Passmatrix</a></li>
                        <li><a href="" scroll-to="duelmatrix"><i class="fa fa-th-large"></i> Duelmatrix</a></li>
                        <li><a href="" scroll-to="penalty_visualisatie"><i class="fa fa-dot-circle-o"></i> Penalties</a></li>
                        <li><a href="" scroll-to="overtredingen_speler"><i class="fa fa-exclamation-circle"></i> Overtredingen</a></li>
                        <li><a href="" scroll-to="overtredingen_locatie"><i class="fa fa-location-arrow"></i> Locatie overtredingen</a></li>
                    </ul>
                </li>
                <li role="presentation">
                    <a href="#players" aria-controls="players" role="tab" data-toggle="tab" scroll-to="top">
                        <span class="caret-right"></span><span class="caret"></span> Spelers
                    </a>
                    <ul class="nav nav-pills nav-stacked submenu">
                        <li>
                            <a href="" scroll-to="thuis">
                                <!--<span class="caret-right"></span><span class="caret"></span>--> {{ match.match_info.thuis }}
                            </a>
                            <!--<ul class="nav nav-pills nav-stacked submenu">
                                <li ng-repeat="speler in match.spelersthuisteam">
                                    <a href="">{{ speler.spelerNaam }}</a>
                                </li>
                            </ul>-->
                        </li>
                        <li><a href="" scroll-to="uit"> {{ match.match_info.uit }}</a></li>
                        <li><a href="" scroll-to="vergelijk"><i class="fa fa-refresh"></i> Vergelijken</a></li>
                    </ul>
                </li>
                <li role="presentation">
                    <a href="#comments" aria-controls="comments" role="tab" data-toggle="tab" scroll-to="top">
                        <span class="caret-right"></span><span class="caret"></span> Logboek
                    </a>
                    <ul class="nav nav-pills nav-stacked submenu">
                        <li><a href="" scroll-to="logwedstrijd"><i class="fa fa-pencil"></i> Wedstrijd</a></li>
                        <li><a href="" scroll-to="logspeler"><i class="fa fa-weixin"></i> Spelers</a></li>
                    </ul>
                </li>
                <!--<li role="presentation">
                    <a href="">
                        <i class="fa fa-download"></i> Download PDF
                    </a>
                </li>-->
            </ul>
            <div class="item-title"><a href="" scroll-to="top">Terug naar boven</a></div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-2 content content-top">
        <div class="col-xs-12">
            <div class="col-xs-12" ng-hide="match_index >= 0">
                <h2>Soccer performance</h2>
                <h4>Wedstrijd rapport</h4>
            </div>
            <div class="col-xs-12 text-center" ng-hide="match_index >= 0"><h4>Seizoen kiezen</h4></div>
            <div id="season-select" class="col-lg-12" ng-hide="match_index >= 0">
                <br>
                <select ng-model="season_index" class="form-control input-sm"
                        ng-change="seasonInitFunc(season_index)">
                    <option>2014-2015 Play-offs</option>
                    <option>2014-2015</option>
                    <option>2013-2014 Play-offs</option>
                    <option>2013-2014</option>
                </select>
                <br>
            </div>
            <div class="col-xs-12 text-center" ng-show="season_index && !match_index"><h4>Wedstrijd kiezen</h4></div>
            <div id="match-select" class="col-lg-12" ng-show="season_index">
                <br>
                <select ng-model="match_index" class="form-control input-sm"
                        ng-change="matchInitFunc(match_index)"
                        ng-options="match.matchID as match.match_info.wedstrijd group by match.match_info.datum for match in season_matches">
                </select>
                <br>
            </div>
            <div id="match-info" ng-show="match_index >= 0">
                <div class="col-xs-2 text-left">
                    <p style="text-transform: capitalize;">{{ match.match_info.speeldag }}<br>
                        {{ match.match_info.datum }} {{ match.match_info.tijd }}<br>
                    <small>(ronde {{ match.match_info.ronde }})</small><p>
                    <small><img src="images/referee.svg" height="16px"> {{ match.match_info.scheids }}</small><br>
                </div>
                <div class="col-xs-1 no-padding text-center">
                    <img ng-src="logo_clubs/JPG/{{ match.match_info.logo_thuis }}" class="logo">
                </div>
                <div class="col-xs-6 text-center">
                    <h3>{{ match.match_info.wedstrijd }}</h3>
                    <h4>
                        {{ match.match_info.eindstand }}<br>
                        <small data-toggle="tooltip" data-placement="right" title="ruststand">({{ match.match_info.ruststand }})</small>
                    </h4>
                </div>
                <div class="col-xs-1 no-padding text-center">
                    <img ng-src="logo_clubs/JPG/{{ match.match_info.logo_uit }}" class="logo">
                </div>
            </div>
            <div id="match-info-short" ng-show="match_index >= 0">
                <div class="col-xs-1 no-padding text-center">
                    <img ng-src="logo_clubs/JPG/{{ match.match_info.logo_thuis }}" class="logo">
                </div>
                <div class="col-xs-10 text-center">
                    <h4>{{ match.match_info.wedstrijd }}<br>
                        {{ match.match_info.eindstand }}<br>
                        <small data-toggle="tooltip" data-placement="right" title="ruststand">({{ match.match_info.ruststand }})</small>
                    </h4>
                </div>
                <div class="col-xs-1 no-padding text-center">
                    <img ng-src="logo_clubs/JPG/{{ match.match_info.logo_uit }}" class="logo">
                </div>
            </div>
            <input type="checkbox" name="handler-navbar-sub-mobile" class="handler" id="handler-navbar-sub-mobile" onclick="null" />
            <div class="col-xs-12 no-padding navbar-sub-mobile-toggle hidden-md hidden-lg" ng-show="match_index >= 0">
                <div class="col-xs-12">
                    <label for="handler-navbar-sub-mobile" id="navbar-sub-mobile" href="#">
                        <span id="navbar-sub-mobile-toggle" title="menu"><i class="fa fa-bars"></i> navigatie</span>
                    </label>
                </div>
            </div>
            <div class="col-xs-12 hidden-md hidden-lg no-padding navbar-sub-mobile" ng-show="match_index >= 0">
                <ul id="nav-sub-mobile" class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab" scroll-to="top">
                            <span class="caret-right"></span><span class="caret"></span> Wedstrijd
                        </a>
                        <ul class="nav nav-pills submenu">
                            <li><a href="" scroll-to="opstelling" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Opstelling</a></li>
                            <li><a href="" scroll-to="wedstrijd" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Wedstrijd</a></li>
                            <li><a href="" scroll-to="statistieken" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Overzicht</a></li>
                            <!--<li><a href="" scroll-to="balbezit" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Balbezit</a></li>-->
                            <li><a href="" scroll-to="doelpogingen" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Doelpogingen</a></li>
                            <li><a href="" scroll-to="dueloverzicht" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Duels</a></li>
                            <li><a href="" scroll-to="overtredingen" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Overtredingen</a></li>
                            <li><a href="" scroll-to="spelhervattingen" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Spelhervattingen</a></li>
                            <li><a href="" scroll-to="passoverzicht" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Passes</a></li>
                        </ul>
                    </li>
                    <li role="presentation">
                        <a href="#team" aria-controls="team" role="tab" data-toggle="tab" scroll-to="top">
                            <span class="caret-right"></span><span class="caret"></span> Team
                        </a>
                        <ul class="nav nav-pills submenu">
                            <li><a href="" scroll-to="veld" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Veld posities</a></li>
                            <li><a href="" scroll-to="locatiedoelpogingen" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Doelpogingen</a></li>
                            <li><a href="" scroll-to="locatiebalcontact" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Locatie balcontact</a></li>
                            <li><a href="" scroll-to="passes_zone" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Passes per zone</a></li>
                            <li><a href="" scroll-to="passmatrix" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Passmatrix</a></li>
                            <li><a href="" scroll-to="duelmatrix" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Duelmatrix</a></li>
                            <li><a href="" scroll-to="penalty_visualisatie" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Penalties</a></li>
                            <li><a href="" scroll-to="overtredingen_speler" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Overtredingen</a></li>
                            <li><a href="" scroll-to="overtredingen_locatie" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Locatie overtredingen</a></li>
                        </ul>
                    </li>
                    <li role="presentation">
                        <a href="#players" aria-controls="players" role="tab" data-toggle="tab" scroll-to="top">
                            <span class="caret-right"></span><span class="caret"></span> Spelers
                        </a>
                        <ul class="nav nav-pills submenu">
                            <li><a href="" scroll-to="thuis" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">{{ match.match_info.thuis }}</a></li>
                            <li><a href="" scroll-to="uit" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);"> {{ match.match_info.uit }}</a></li>
                            <li><a href="" scroll-to="vergelijk" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Vergelijken</a></li>
                        </ul>
                    </li>
                    <li role="presentation">
                        <a href="#comments" aria-controls="comments" role="tab" data-toggle="tab" scroll-to="top">
                            <span class="caret-right"></span><span class="caret"></span> Logboek
                        </a>
                        <ul class="nav nav-pills submenu">
                            <li><a href="" scroll-to="logwedstrijd" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Wedstrijd</a></li>
                            <li><a href="" scroll-to="logspeler" onclick="$('.handler#handler-navbar-sub-mobile').prop('checked', false);">Spelers</a></li>
                        </ul>
                    </li>
                    <!--<li role="presentation">
                        <a href="">
                            <i class="fa fa-download"></i> Download PDF
                        </a>
                    </li>-->
                    <li role="presentation">
                        <a href="" scroll-to="top">
                            <i class="fa fa-arrow-up"></i> Naar boven
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>