<navbarclub class="navbar-match"></navbarclub>

<div id="top" ng-controller="mainapp.match.MatchSingleModulesPlayerController as data">

    <div class="container-fluid intro-box"></div>

    <div matchsinglemodulestop class="page-top page-top-match">
    </div>

    <div class="menu-left-button">
        <button type="button" data-toggle="offcanvas">
            <span class="sr-only">Toggle linker menu</span>
            <i class="fa fa-chevron-right"></i>
            <i class="fa fa-chevron-left"></i>
            <br>
            <i class="fa fa-bars"></i>
        </button>
    </div>

    <div matchsinglemodulescontentplayer class="page-content page-content-match">
    </div>

    <div class="clear"></div>
</div>