<div class="container">
    <br><br><br>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-7">

        <div class="jumbotron home-intro">
            <h2>Inloggen</h2>
            <h4>Club</h4>
            <hr>
            <p><small>Je kunt alleen inloggen met je originele email en wachtwoord. Als je je wachtwoord niet meer weet <a href="/forgotpassword">klik hier</a>. Je kunt dan een nieuw wachtwoord krijgen.
            <br><small>Door in te loggen ga je akkoord met het feit dat de website cookies gebruikt om prestaties te verbeteren.</small></small></p>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="data.login.email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Wachtwoord</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Wachtwoord" ng-model="data.login.password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="remember" ng-model="data.login.remember"> Blijf ingelogd
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-click="data.logIn()">Inloggen</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>