<div class="container">
    <h1>Account aanmaken</h1>
    <h3></h3>
    <hr>
    <p>Vul hier je email en wachtwoord in om je account aan te maken op de site. Je kunt alleen inloggen met je originele email en wachtwoord.</p>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="email">Gebruikersnaam</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="email" ng-model="data.login.email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="password">Wachtwoord</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="password" ng-model="data.login.password">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">Volledige naam</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="name" ng-model="data.login.first_name" placeholder="Voornaam">
            </div>
            <div class="col-sm-1">
                <input type="text" class="form-control" id="name" ng-model="data.login.middle_name" placeholder="vgsl">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="name" ng-model="data.login.last_name" placeholder="Achternaam">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-default" ng-click="data.signIn()">Versturen</button>
            </div>
        </div>
    </form>
</div><!-- end container -->