@import '../../app/styles/variables';

.content.content-page {
  .content-players-title {
    color: $middleblue;
    background-color: $white;
    padding-top: 0;
    padding-bottom: 5px;
    margin: 0;

    .season {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    h3 {
      text-transform: uppercase;
    }
    h4 {
      text-transform: uppercase;
    }
  }
  .content-players-name {
    color: $white;
    background-color: $lightblue;
    padding: 0;
    margin-top: 0;
    margin-bottom: 15px;

    .center-block {
      background-color: $middleblue;
    }

    a {
      color: $white;
    }
    h2 {
      margin-top: 10px;
      margin-bottom: 15px;
    }
    h3 {
      margin-top: 15px;
      margin-bottom: 10px;
      margin-left: 15px;
      margin-right: 15px;
    }
    img {
      float: left;
      height: 55px;
      width: auto;
      margin-top: 1px;
      margin-right: 15px;
    }
    select.input-vs {
      background-color: transparent;
      border: none;
      color: $white;
      padding: 4px;
      font-size: 24px;
      box-shadow: none;
      border-radius: 0;
    }
  }
  .content-players-select {
    background-color: $white;
    color: $primary-color;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $lightgrey;

    .round {
      text-transform: uppercase;
      float: left;
      display: block;
      text-align: center;
      background-color: $black;
      color: $white;
      padding: 2px 4px;
    }

    .slider-control {
      height: 1em;
      padding-top: .5em;
      margin-bottom: 5px;
      margin-top: 15px;
    }
    .ui-slider {
      position: relative;
      text-align: left;
    }
    .ui-slider-horizontal {
      height: .8em;
    }
    .ui-slider-horizontal .ui-slider-range-min {
      left: 0;
    }
    .ui-slider-horizontal .ui-slider-range {
      top: 0;
      height: 100%;
    }
    .ui-slider .ui-slider-range {
      position: absolute;
      z-index: 1;
      font-size: .7em;
      display: block;
      border: 0;
      background-position: 0 0;
    }
    .ui-slider-horizontal .ui-slider-handle {
      top: -.1em;
      //margin-left: -.6em;
      margin-left: 0em;
    }
    .ui-widget-content {
      background: $lightgrey;
    }
    .ui-widget-header {
      background: $middleblue;
    }
    .ui-slider .ui-slider-handle {
      position: absolute;
      z-index: 2;
      width: 0;
      height: 0;
      cursor: pointer;
      -ms-touch-action: none;
      touch-action: none;
      border-radius: 0;
      border-style: solid;
      border-width: 10px 10px 0 0;
      border-color: $black transparent transparent transparent;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
      border-bottom-right-radius: 4px;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
      border-bottom-left-radius: 4px;
    }
    .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
      border-top-right-radius: 4px;
    }
    .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
      border-top-left-radius: 4px;
    }
  }
  .content-players-left {
    background-color: $white;
    color: $lightblue;
    padding-top: 15px;
    padding-bottom: 15px;
    border-right: 1px solid $middleblue;

    .grey {
      color: $grey !important;
    }
    .orange {
      color: $orange !important;
    }
    select.input-vs {
      background-color: transparent;
      border: none;
      //color: $lightgrey;
      color: $orange;
      padding: 4px 0;
      margin: 0 -8px;
      font-size: 14px;
      box-shadow: none;
      border-radius: 0;
      width: calc(100% + 16px);
    }
    a {
      color: $lightblue;
    }
    small {
      color: $lightblue;
    }
    img {
      width: 100%;
    }
    span.rugnummer {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      color: $white;
      font-size: 32px;
    }
    .player-vs {
      margin: 15px 0;
      border-top: 1px solid $middleblue;
      border-bottom: 1px solid $middleblue;
    }
    .tag {
      position: absolute;
      right: 5%;
      top: 1%;
      padding: 2px 4px;
      background-color: $middleblue;
      color: $white;
      font-size: 12px;
      z-index: 10;
    }
  }
  .content-players-left-overview {
    border-right: none;

    .spelernaam {
      min-height: 57px;
      vertical-align: baseline;
    }
    .tag {
      position: absolute;
      right: 5%;
      top: 2%;
      padding: 2px 4px;
      background-color: $middleblue;
      color: $white;
      font-size: 12px;
      z-index: 10;
    }
  }
  .content-players {
    background-color: $white;
    color: $lightblue;
    padding-top: 15px;
    padding-bottom: 15px;

    .grey {
      color: $grey !important;
    }
    .orange {
      color: $orange !important;
    }
    a {
      color: $lightblue;
    }
    small {
      color: $lightblue;
    }
    #arrow {
      background-color: $middleblue;
      display: inline-block;
      width: 300px;
      height: 4px;
      margin: 0 5px;
    }
    #arrow:after {
      content: "";
      background-color: $middleblue;
      display: inline-block;
      width: 4px;
      height: 4px;
      float: right;
      margin-right: -2px;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    #arrow-vs {
      background-color: $grey;
      display: inline-block;
      width: 300px;
      height: 4px;
      margin: 0 5px;
    }
    #arrow-vs:after {
      content: "";
      background-color: $grey;
      display: inline-block;
      width: 4px;
      height: 4px;
      float: right;
      margin-right: -2px;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    span.card {
      font-size: 20px;
    }
    .tc-chart-js-legend {
      list-style-type: none;
      padding-left: 0px;

      li {
        display: block;
        float: left;
        clear: both;
        padding: 10px;

        span {
          width: 18px;
          height: 18px;
          display: block;
          float: left;
          margin-right: 10px;
        }
      }
    }

    .value-top {
      text-transform: uppercase;
      position: absolute;
      margin: 0;
      left: 80%;
      top: 0;
      min-width: 190px;
      z-index: 10;
      display: block;
      text-align: center;
      background-color: $black;
      color: $white;
      padding: 2px 4px;
    }
    .value-bottom {
      font-size: 12px;
      position: absolute;
      margin: 0;
      margin-top: -2px;
      right: 0;
      top: calc(100% - 23px);
      z-index: 10;
      display: block;
      text-align: center;
      background-color: $grey;
      color: $white;
      padding: 2px 4px;

      span {
        text-transform: uppercase;
        position: absolute;
        left: 100%;
        top: 0;
        width: 270px;
        display: block;
        text-align: left;
        background-color: transparent;
        color: $grey;
        padding: 2px 4px;
      }
    }
    .value-bottom:before {
      content: '';
      position: absolute;
      top: -10px;
      right: 0;
      z-index: 10;
      width: 0;
      height: 0;
      border-radius: 0;
      border-style: solid;
      border-width: 0 0 10px 10px;
      border-color: transparent transparent $grey transparent;
    }
    .slider1 {
      height: 19px;
      padding-top: 0;
      margin-bottom: 25px;
      margin-top: 24px;

      .slider {
        position: relative;
        text-align: left;
        height: 11px;
        background: $lightgrey;

        .slider-range {
          left: 0;
          top: 0;
          height: 100%;
          position: absolute;
          z-index: 1;
          font-size: .7em;
          display: block;
          border: 0;
          background-position: 0 0;
          background-color: $middleblue;
        }
        .slider-handle {
          top: -.1em;
          margin-left: 0em;
          position: absolute;
          z-index: 2;
          width: 0;
          height: 0;
          border-radius: 0;
          border-style: solid;
          border-width: 10px 10px 0 0;
          border-color: $black transparent transparent transparent;
        }
      }
      .corner-all {
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      }
    }
  }
  .logboek {
    color: $primary-color;
  }
}

/********************************************************
Responsive setup
********************************************************/
@media screen and (min-width:1600px) {
}
@media screen and (max-width:1599px) {
}
@media screen and (max-width:1199px) {
}
@media screen and (max-width:991px) {
}
@media screen and (max-width:767px) {
}
@media screen and (max-width:320px) {
}