<div class="page-top">
    <div class="container">
        <div class="col-md-2">
            <div class="col-md-2 navbar-sub">
                <div class="item-title">Gebruiker</div>
                <ul id="nav-sub" class="nav nav-pills nav-stacked" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#profiel" aria-controls="profiel" role="tab" data-toggle="tab" scroll-to="top">
                            <i class="fa fa-user"></i> Gebruiker
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#speler" aria-controls="speler" role="tab" data-toggle="tab" scroll-to="top">
                            <i class="fa fa-soccer-ball-o"></i> Speler gegevens
                        </a>
                    </li>
                    <!--<li role="presentation">
                        <a href="#medisch" aria-controls="medisch" role="tab" data-toggle="tab" scroll-to="top">
                            <i class="fa fa-heartbeat"></i> Medisch
                        </a>
                    </li>-->
                </ul>
                <div class="item-title"><a href="/spelers/speler">Persoonlijke analyse</a></div>
                <div class="item-title"><a href="/beheer/users">Gebruikersbeheer</a></div>
                <div class="item-title"><a href="/logout">Uitloggen</a></div>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">

        <div class="col-md-10 col-md-offset-2 content content-page tab-content">

            <div class="col-lg-12 content-page-title">
                <h3>Gebruiker <button class="btn btn-primary btn-sm pull-right">Gegevens wijzigen</button></h3>
            </div>
            <div class="col-lg-12">
                <div class="col-md-2 text-center">
                    <img src="images/blank-avatar.png" class="img-responsive">
                    <a href="#"><i class="fa fa-camera"></i> wijzig foto</a>
                </div>
                <div class="col-md-10">
                    <h2>Voornaam<br>
                    Achternaam</h2>
                </div>

                <div class="col-lg-12">
                    <hr>
                </div>
            </div>

            <div class="col-lg-12 tab-pane fade in active" role="tabpanel" id="profiel">
                <div class="col-lg-12">
                    <h4>Persoonlijke updates</h4>
                </div>
                <div class="col-md-4">
                    Laatste online:
                </div>
                <div class="col-md-8">
                    vrijdag 27-3-2015 15:33
                </div>

                <!--<div class="col-lg-12">
                    <br>
                    <i class="fa fa-heart"></i>
                </div>
                <div class="col-md-4">
                    Ochtend hartslag:
                </div>
                <div class="col-md-4">
                    65 <small>/ min</small>
                </div>
                <div class="col-md-4">
                    vr 27-3-2015
                </div>
                <div class="col-md-4">
                    Max hartslag:
                </div>
                <div class="col-md-4">
                    185 <small>/ min</small>
                </div>
                <div class="col-md-4">
                    ma 16-3-2015
                </div>-->

                <div class="col-lg-12">
                    <br>
                    <i class="fa fa-soccer-ball-o"></i>
                </div>
                <div class="col-md-4">
                    Laatste thuiswedstrijd:
                </div>
                <div class="col-md-4">
                    Roda JC Kerkrade - NEC
                </div>
                <div class="col-md-4">
                    za 14-3-2015
                </div>
                <div class="col-md-4">
                    Laatste uitwedstrijd:
                </div>
                <div class="col-md-4">
                    RKC Waalwijk - Roda JC Kerkrade
                </div>
                <div class="col-md-4">
                    za 21-3-2015
                </div>
            </div>

            <div class="col-lg-12 tab-pane fade" role="tabpanel" id="speler">
                <div class="col-lg-12">
                    <h4><i class="fa fa-soccer-ball-o"></i> Speler gegevens</h4>
                </div>

                <div class="col-lg-12">
                    <br>
                </div>
                <div class="col-md-4">
                    Club:
                </div>
                <div class="col-md-8">
                    Roda JC Kerkrade
                </div>
                <div class="col-lg-12">
                    <br>
                </div>
                <div class="col-md-4">
                    Rugnummer:
                </div>
                <div class="col-md-8">
                    16
                </div>
            </div>

            <!--<div class="col-lg-12 tab-pane fade" role="tabpanel" id="medisch">
                <div class="col-lg-12">
                    <h4><i class="fa fa-heart"></i> Medische gegevens <small><a href="/user/edit/medisch" class="pull-right"><i class="fa fa-edit"></i> Wijzig</a></small></h4>
                </div>

                <div class="col-lg-12">
                    <br>
                </div>
                <div class="col-md-4">
                    Ochtend hartslag:
                </div>
                <div class="col-md-4">
                    65 <small>/ min</small>
                </div>
                <div class="col-md-4">
                    vr 27-3-2015
                </div>
                <div class="col-md-4">
                    Max hartslag:
                </div>
                <div class="col-md-4">
                    185 <small>/ min</small>
                </div>
                <div class="col-md-4">
                    ma 16-3-2015
                </div>
            </div>-->

        </div>

    </div>
</div>