<navbar ng-hide="isLogged()"></navbar>
<navbarclub ng-show="isLogged()"></navbarclub>

<div class="container-fluid intro-box"></div>

<div class="page-content">
    <div class="container">
        <div class="col-xs-12 content content-page content-page-full">
            <div class="col-xs-12">
                <h1>404 - Page not found!</h1>
                <h2>Pagina niet gevonden.</h2>
                <hr>
                <p>Not possible to find the page you are looking for. Use this link to return to the <a href="/">homepage</a>.</p>
                <p>De pagina die u zoekt is niet beschikbaar. Om terug te keren naar de <a href="/">homepagina klik hier</a>.</p>
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>

<script>
    angular.element(document).ready(function () {
        $('body').css('background-color', '#E7EAF1');
    });
</script>